basePath: /v1
consumes:
  - application/json
host: api.directfreight.com
info:
  contact: {}
  description: |-
    In order to use the Direct Freight API please first contact us to get an API Token. This token needs to be sent as a HTTP header argument in every request to our API.

    api-token="SECRET KEY"

    Please keep your api-token a secret. If the token is compromised please contact us to get a new one.

    This api token authenticates your application and gives it access to the API.

    The API token should not be confused with the end-user-token. That token is given to you via the end_user_authentications endpoint when the user logs in. This token is needed in order to use certain features, and get certain sensitive information.

    Both Tokens are stateless, and delivered via the HTTP headers.
  title: Direct Freight API
  version: '1.0'
  x-logo:
    url: 'https://www.directfreight.com/home/images/logo-direct-freight.png'
produces:
  - application/json
schemes:
  - https
security:
  - api-token: []
securityDefinitions:
  api-token:
    in: header
    name: api-token
    type: apiKey
swagger: '2.0'
x-restlet:
  sections:
    ALERTS: {}
    BOARDS: {}
    END_USER_AUTHENTICATIONS: {}
    LOCATIONS: {}
    Mobile Update: {}
    Optins: {}
    POSTINGS: {}
    PROFILES: {}
    VALIDATIONS: {}
    common_definitions: {}
    not categorized yet: {}
parameters:
  end-user-token:
    in: header
    name: end-user-token
    required: true
    type: string
  end-user-token-optional:
    in: header
    name: end-user-token
    required: false
    type: string
  board_type:
    description: 'Valid types are "loads", and "trucks".'
    enum:
      - loads
      - trucks
    in: path
    name: board_type
    required: true
    type: string
  posting_type:
    description: 'Valid types are "loads", "trucks", "private_loads", "private_trucks", "test_loads", and "test_trucks"'
    enum:
      - loads
      - trucks
      - private_loads
      - private_trucks
      - test_loads
      - test_trucks
    in: path
    name: posting_type
    required: true
    type: string
responses:
  error_422:
    description: Unprocessable Entity. More information provided in the return object.
    schema:
      $ref: '#/definitions/error_object'
  object_created:
    description: Object created check the headers for a reference URL.
    schema:
      $ref: '#/definitions/create_status'
paths:
  '/alerts/{board_type}':
    delete:
      parameters:
        - description: Specify to just delete some alerts.
          in: query
          items:
            type: string
          name: alert_id
          required: true
          type: array
        - in: header
          name: end-user-token
          required: true
          type: string
      responses:
        '204':
          description: successful operation
      summary: STAGE=UNK Delete an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "DELETE");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE");
            var request = new RestRequest(Method.DELETE);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")
              .delete(null)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.delete("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE",
              "method": "DELETE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("DELETE", "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "DELETE",
              "hostname": "api.directfreight.com",
              "port": null,
              "path": "/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'DELETE',
              url: 'https://api.directfreight.com/v1/alerts/loads',
              qs: { alert_id: 'SOME_ARRAY_VALUE' },
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("DELETE", "https://api.directfreight.com/v1/alerts/loads");

            req.query({
              "alert_id": "SOME_ARRAY_VALUE"
            });

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"DELETE"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

            Client.call ~headers `DELETE uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("DELETE",
            "'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "DELETE",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setMethod(HTTP_METH_DELETE);

            $request->setQueryData(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            ));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setRequestMethod('DELETE');
            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            )));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.directfreight.com")

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("DELETE", "/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://api.directfreight.com/v1/alerts/loads"

            querystring = {"alert_id":"SOME_ARRAY_VALUE"}

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("DELETE", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Delete.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request DELETE \
              --url 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT'
        - lang: Shell_httpie
          source: |-
            http DELETE 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method DELETE \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --output-document \
              - 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]

            var request = NSMutableURLRequest(URL: NSURL(string: "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "DELETE"
            request.allHTTPHeaderFields = headers

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    get:
      description: Get a list of alerts. You can optionally limit the list by specifcying alerts by their alert_id.
      parameters:
        - description: only get a subset of alerts. As this is a get request this is specified as a query string parameter.
          in: query
          items:
            type: integer
          name: alert_id
          required: false
          type: array
        - in: header
          name: end-user-token
          required: true
          type: string
      responses:
        '200':
          description: On success will return a list of alerts.
          schema:
            $ref: '#/definitions/alert_list'
      summary: STAGE=UNK Retrieve alerts.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "GET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE");
            var request = new RestRequest(Method.GET);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")
              .get()
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.get("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE",
              "method": "GET",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("GET", "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "GET",
              "hostname": "api.directfreight.com",
              "port": null,
              "path": "/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'GET',
              url: 'https://api.directfreight.com/v1/alerts/loads',
              qs: { alert_id: 'SOME_ARRAY_VALUE' },
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("GET", "https://api.directfreight.com/v1/alerts/loads");

            req.query({
              "alert_id": "SOME_ARRAY_VALUE"
            });

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"GET"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

            Client.call ~headers `GET uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("GET",
            "'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "GET",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setMethod(HTTP_METH_GET);

            $request->setQueryData(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            ));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setRequestMethod('GET');
            $request->setQuery(new http\QueryString(array(
              'alert_id' => 'SOME_ARRAY_VALUE'
            )));

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.directfreight.com")

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("GET", "/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://api.directfreight.com/v1/alerts/loads"

            querystring = {"alert_id":"SOME_ARRAY_VALUE"}

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("GET", url, headers=headers, params=querystring)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request GET \
              --url 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT'
        - lang: Shell_httpie
          source: |-
            http GET 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method GET \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --output-document \
              - 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]

            var request = NSMutableURLRequest(URL: NSURL(string: "https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "GET"
            request.allHTTPHeaderFields = headers

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    parameters:
      - description: 'Valid types are "loads", and "trucks".'
        enum:
          - loads
          - trucks
        in: path
        name: board_type
        required: true
        type: string
    patch:
      consumes: []
      description: Search objects are set at creation. You cannot modify them after the alert has been created.
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/patch_alert_properties'
      responses:
        '204':
          description: Returned on response.
      summary: STAGE=UNK Update an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "PATCH");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://api.directfreight.com/v1/alerts/loads");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://api.directfreight.com/v1/alerts/loads");
            var request = new RestRequest(Method.PATCH);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            request.AddParameter("undefined", "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads\"\n\n\tpayload := strings.NewReader(\"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}");
            Request request = new Request.Builder()
              .url("https://api.directfreight.com/v1/alerts/loads")
              .patch(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.patch("https://api.directfreight.com/v1/alerts/loads")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .body("{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://api.directfreight.com/v1/alerts/loads",
              "method": "PATCH",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              },
              "processData": false,
              "data": "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = JSON.stringify({
              "alert_id": 0,
              "end_hour": 0,
              "expires_after": "<ADD EXAMPLE VALUE>",
              "list_order": "<ADD EXAMPLE VALUE>",
              "list_type": "complete-list",
              "minute_frequency": 0,
              "send_type": "email",
              "start_hour": 0,
              "time_zone": 0
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("PATCH", "https://api.directfreight.com/v1/alerts/loads");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "PATCH",
              "hostname": "api.directfreight.com",
              "port": null,
              "path": "/v1/alerts/loads",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({ alert_id: 0,
              end_hour: 0,
              expires_after: '<ADD EXAMPLE VALUE>',
              list_order: '<ADD EXAMPLE VALUE>',
              list_type: 'complete-list',
              minute_frequency: 0,
              send_type: 'email',
              start_hour: 0,
              time_zone: 0 }));
            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'PATCH',
              url: 'https://api.directfreight.com/v1/alerts/loads',
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' },
              body: 
               { alert_id: 0,
                 end_hour: 0,
                 expires_after: '<ADD EXAMPLE VALUE>',
                 list_order: '<ADD EXAMPLE VALUE>',
                 list_type: 'complete-list',
                 minute_frequency: 0,
                 send_type: 'email',
                 start_hour: 0,
                 time_zone: 0 },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("PATCH", "https://api.directfreight.com/v1/alerts/loads");

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });

            req.type("json");
            req.send({
              "alert_id": 0,
              "end_hour": 0,
              "expires_after": "<ADD EXAMPLE VALUE>",
              "list_order": "<ADD EXAMPLE VALUE>",
              "list_type": "complete-list",
              "minute_frequency": 0,
              "send_type": "email",
              "start_hour": 0,
              "time_zone": 0
            });

            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };
            NSDictionary *parameters = @{ @"alert_id": @0,
                                          @"end_hour": @0,
                                          @"expires_after": @"<ADD EXAMPLE VALUE>",
                                          @"list_order": @"<ADD EXAMPLE VALUE>",
                                          @"list_type": @"complete-list",
                                          @"minute_frequency": @0,
                                          @"send_type": @"email",
                                          @"start_hour": @0,
                                          @"time_zone": @0 };

            NSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://api.directfreight.com/v1/alerts/loads"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"PATCH"];
            [request setAllHTTPHeaderFields:headers];
            [request setHTTPBody:postData];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://api.directfreight.com/v1/alerts/loads" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in
            let body = Cohttp_lwt_body.of_string "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}" in

            Client.call ~headers ~body `PATCH uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("PATCH",
            "https://api.directfreight.com/v1/alerts/loads");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            $request->content('{"alert_id":0,"end_hour":0,"expires_after":"<ADD EXAMPLE VALUE>","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"send_type":"email","start_hour":0,"time_zone":0}');
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://api.directfreight.com/v1/alerts/loads",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "PATCH",
              CURLOPT_POSTFIELDS => "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            HttpRequest::methodRegister('PATCH');
            $request = new HttpRequest();
            $request->setUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setMethod(HttpRequest::HTTP_METH_PATCH);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $request->setBody('{"alert_id":0,"end_hour":0,"expires_after":"<ADD EXAMPLE VALUE>","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"send_type":"email","start_hour":0,"time_zone":0}');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $body = new http\Message\Body;
            $body->append('{"alert_id":0,"end_hour":0,"expires_after":"<ADD EXAMPLE VALUE>","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"send_type":"email","start_hour":0,"time_zone":0}');

            $request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setRequestMethod('PATCH');
            $request->setBody($body);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.directfreight.com")

            payload = "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("PATCH", "/v1/alerts/loads", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://api.directfreight.com/v1/alerts/loads"

            payload = "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"
            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("PATCH", url, data=payload, headers=headers)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.directfreight.com/v1/alerts/loads")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Patch.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'
            request.body = "{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request PATCH \
              --url https://api.directfreight.com/v1/alerts/loads \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT' \
              --data '{"alert_id":0,"end_hour":0,"expires_after":"<ADD EXAMPLE VALUE>","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"send_type":"email","start_hour":0,"time_zone":0}'
        - lang: Shell_httpie
          source: |-
            echo '{"alert_id":0,"end_hour":0,"expires_after":"<ADD EXAMPLE VALUE>","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"send_type":"email","start_hour":0,"time_zone":0}' |  \
              http PATCH https://api.directfreight.com/v1/alerts/loads \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method PATCH \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --body-data '{"alert_id":0,"end_hour":0,"expires_after":"<ADD EXAMPLE VALUE>","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"send_type":"email","start_hour":0,"time_zone":0}' \
              --output-document \
              - https://api.directfreight.com/v1/alerts/loads
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]
            let parameters = [
              "alert_id": 0,
              "end_hour": 0,
              "expires_after": "<ADD EXAMPLE VALUE>",
              "list_order": "<ADD EXAMPLE VALUE>",
              "list_type": "complete-list",
              "minute_frequency": 0,
              "send_type": "email",
              "start_hour": 0,
              "time_zone": 0
            ]

            let postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)

            var request = NSMutableURLRequest(URL: NSURL(string: "https://api.directfreight.com/v1/alerts/loads")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "PATCH"
            request.allHTTPHeaderFields = headers
            request.HTTPBody = postData

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    post:
      consumes: []
      description: 'Any parameter that is defined here and is also defined on the boards GET, follows the same rules.'
      parameters:
        - in: header
          name: end-user-token
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/alert'
      responses:
        '201':
          $ref: '#/responses/object_created'
      summary: STAGE=UNK Create an alert.
      tags:
        - alerts
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "POST");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://api.directfreight.com/v1/alerts/loads");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "end-user-token: NO DEFAULT");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            curl_easy_setopt(hnd, CURLOPT_POSTFIELDS, "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}");

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: |-
            var client = new RestClient("https://api.directfreight.com/v1/alerts/loads");
            var request = new RestRequest(Method.POST);
            request.AddHeader("api-token", "REPLACE_KEY_VALUE");
            request.AddHeader("end-user-token", "NO DEFAULT");
            request.AddHeader("Content-Type", "application/json");
            request.AddHeader("Accept", "application/json");
            request.AddParameter("undefined", "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads\"\n\n\tpayload := strings.NewReader(\"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}");
            Request request = new Request.Builder()
              .url("https://api.directfreight.com/v1/alerts/loads")
              .post(body)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("end-user-token", "NO DEFAULT")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.post("https://api.directfreight.com/v1/alerts/loads")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("end-user-token", "NO DEFAULT")
              .header("api-token", "REPLACE_KEY_VALUE")
              .body("{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://api.directfreight.com/v1/alerts/loads",
              "method": "POST",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              },
              "processData": false,
              "data": "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = JSON.stringify({
              "email_address": "<ADD EXAMPLE VALUE>",
              "end_hour": 0,
              "expires_after": "2019-12-30",
              "list_order": "<ADD EXAMPLE VALUE>",
              "list_type": "complete-list",
              "minute_frequency": 0,
              "search": {
                "delivery_date": "<ADD EXAMPLE VALUE>",
                "destination_city": "<ADD EXAMPLE VALUE>",
                "destination_radius": 0,
                "destination_state": "<ADD EXAMPLE VALUE>",
                "full_load": false,
                "origin_city": "<ADD EXAMPLE VALUE>",
                "origin_radius": 0,
                "origin_state": "<ADD EXAMPLE VALUE>"
              },
              "send_type": "email",
              "start_hour": 0,
              "time_zone": 0
            });

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("POST", "https://api.directfreight.com/v1/alerts/loads");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("end-user-token", "NO DEFAULT");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "POST",
              "hostname": "api.directfreight.com",
              "port": null,
              "path": "/v1/alerts/loads",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "end-user-token": "NO DEFAULT",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.write(JSON.stringify({ email_address: '<ADD EXAMPLE VALUE>',
              end_hour: 0,
              expires_after: '2019-12-30',
              list_order: '<ADD EXAMPLE VALUE>',
              list_type: 'complete-list',
              minute_frequency: 0,
              search: 
               { delivery_date: '<ADD EXAMPLE VALUE>',
                 destination_city: '<ADD EXAMPLE VALUE>',
                 destination_radius: 0,
                 destination_state: '<ADD EXAMPLE VALUE>',
                 full_load: false,
                 origin_city: '<ADD EXAMPLE VALUE>',
                 origin_radius: 0,
                 origin_state: '<ADD EXAMPLE VALUE>' },
              send_type: 'email',
              start_hour: 0,
              time_zone: 0 }));
            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'POST',
              url: 'https://api.directfreight.com/v1/alerts/loads',
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'end-user-token': 'NO DEFAULT',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' },
              body: 
               { email_address: '<ADD EXAMPLE VALUE>',
                 end_hour: 0,
                 expires_after: '2019-12-30',
                 list_order: '<ADD EXAMPLE VALUE>',
                 list_type: 'complete-list',
                 minute_frequency: 0,
                 search: 
                  { delivery_date: '<ADD EXAMPLE VALUE>',
                    destination_city: '<ADD EXAMPLE VALUE>',
                    destination_radius: 0,
                    destination_state: '<ADD EXAMPLE VALUE>',
                    full_load: false,
                    origin_city: '<ADD EXAMPLE VALUE>',
                    origin_radius: 0,
                    origin_state: '<ADD EXAMPLE VALUE>' },
                 send_type: 'email',
                 start_hour: 0,
                 time_zone: 0 },
              json: true };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("POST", "https://api.directfreight.com/v1/alerts/loads");

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "end-user-token": "NO DEFAULT",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });

            req.type("json");
            req.send({
              "email_address": "<ADD EXAMPLE VALUE>",
              "end_hour": 0,
              "expires_after": "2019-12-30",
              "list_order": "<ADD EXAMPLE VALUE>",
              "list_type": "complete-list",
              "minute_frequency": 0,
              "search": {
                "delivery_date": "<ADD EXAMPLE VALUE>",
                "destination_city": "<ADD EXAMPLE VALUE>",
                "destination_radius": 0,
                "destination_state": "<ADD EXAMPLE VALUE>",
                "full_load": false,
                "origin_city": "<ADD EXAMPLE VALUE>",
                "origin_radius": 0,
                "origin_state": "<ADD EXAMPLE VALUE>"
              },
              "send_type": "email",
              "start_hour": 0,
              "time_zone": 0
            });

            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"end-user-token": @"NO DEFAULT",
                                       @"api-token": @"REPLACE_KEY_VALUE" };
            NSDictionary *parameters = @{ @"email_address": @"<ADD EXAMPLE VALUE>",
                                          @"end_hour": @0,
                                          @"expires_after": @"2019-12-30",
                                          @"list_order": @"<ADD EXAMPLE VALUE>",
                                          @"list_type": @"complete-list",
                                          @"minute_frequency": @0,
                                          @"search": @{ @"delivery_date": @"<ADD EXAMPLE VALUE>", @"destination_city": @"<ADD EXAMPLE VALUE>", @"destination_radius": @0, @"destination_state": @"<ADD EXAMPLE VALUE>", @"full_load": @NO, @"origin_city": @"<ADD EXAMPLE VALUE>", @"origin_radius": @0, @"origin_state": @"<ADD EXAMPLE VALUE>" },
                                          @"send_type": @"email",
                                          @"start_hour": @0,
                                          @"time_zone": @0 };

            NSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://api.directfreight.com/v1/alerts/loads"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"POST"];
            [request setAllHTTPHeaderFields:headers];
            [request setHTTPBody:postData];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://api.directfreight.com/v1/alerts/loads" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("end-user-token", "NO DEFAULT");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in
            let body = Cohttp_lwt_body.of_string "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}" in

            Client.call ~headers ~body `POST uri
            >>= fun (res, body_stream) ->
              (* Do stuff with the result *)
        - lang: Perl_perl5
          source: |-
            #!/usr/bin/perl
            use Modern::Perl;
            use Data::Dumper;
            use HTTP::Request::JSON;
            use LWP::UserAgent::JSON;
            my $request = HTTP::Request::JSON->new("POST",
            "https://api.directfreight.com/v1/alerts/loads");
            $request->header( "Accept" => "application/json" );
            $request->header( "Content-Type" => "application/json" );
            $request->header( "end-user-token" => "NO DEFAULT" );
            $request->header( "api-token" => "REPLACE_KEY_VALUE" );
            $request->content('{"email_address":"<ADD EXAMPLE VALUE>","end_hour":0,"expires_after":"2019-12-30","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"search":{"delivery_date":"<ADD EXAMPLE VALUE>","destination_city":"<ADD EXAMPLE VALUE>","destination_radius":0,"destination_state":"<ADD EXAMPLE VALUE>","full_load":false,"origin_city":"<ADD EXAMPLE VALUE>","origin_radius":0,"origin_state":"<ADD EXAMPLE VALUE>"},"send_type":"email","start_hour":0,"time_zone":0}');
            my $browser = LWP::UserAgent::JSON->new();
            my $response = $browser->request($request);
            print Dumper($response->json_content);
        - lang: Php_curl
          source: |-
            <?php

            $curl = curl_init();

            curl_setopt_array($curl, array(
              CURLOPT_URL => "https://api.directfreight.com/v1/alerts/loads",
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_ENCODING => "",
              CURLOPT_MAXREDIRS => 10,
              CURLOPT_TIMEOUT => 30,
              CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,
              CURLOPT_CUSTOMREQUEST => "POST",
              CURLOPT_POSTFIELDS => "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}",
              CURLOPT_HTTPHEADER => array(
                "Accept: application/json",
                "Content-Type: application/json",
                "api-token: REPLACE_KEY_VALUE",
                "end-user-token: NO DEFAULT"
              ),
            ));

            $response = curl_exec($curl);
            $err = curl_error($curl);

            curl_close($curl);

            if ($err) {
              echo "cURL Error #:" . $err;
            } else {
              echo $response;
            }
        - lang: Php_http1
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $request->setBody('{"email_address":"<ADD EXAMPLE VALUE>","end_hour":0,"expires_after":"2019-12-30","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"search":{"delivery_date":"<ADD EXAMPLE VALUE>","destination_city":"<ADD EXAMPLE VALUE>","destination_radius":0,"destination_state":"<ADD EXAMPLE VALUE>","full_load":false,"origin_city":"<ADD EXAMPLE VALUE>","origin_radius":0,"origin_state":"<ADD EXAMPLE VALUE>"},"send_type":"email","start_hour":0,"time_zone":0}');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Php_http2
          source: |-
            <?php

            $client = new http\Client;
            $request = new http\Client\Request;

            $body = new http\Message\Body;
            $body->append('{"email_address":"<ADD EXAMPLE VALUE>","end_hour":0,"expires_after":"2019-12-30","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"search":{"delivery_date":"<ADD EXAMPLE VALUE>","destination_city":"<ADD EXAMPLE VALUE>","destination_radius":0,"destination_state":"<ADD EXAMPLE VALUE>","full_load":false,"origin_city":"<ADD EXAMPLE VALUE>","origin_radius":0,"origin_state":"<ADD EXAMPLE VALUE>"},"send_type":"email","start_hour":0,"time_zone":0}');

            $request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');
            $request->setRequestMethod('POST');
            $request->setBody($body);

            $request->setHeaders(array(
              'api-token' => 'REPLACE_KEY_VALUE',
              'end-user-token' => 'NO DEFAULT',
              'Content-Type' => 'application/json',
              'Accept' => 'application/json'
            ));

            $client->enqueue($request)->send();
            $response = $client->getResponse();

            echo $response->getBody();
        - lang: Python_python3
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("api.directfreight.com")

            payload = "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"

            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            conn.request("POST", "/v1/alerts/loads", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Python_requests
          source: |-
            import requests

            url = "https://api.directfreight.com/v1/alerts/loads"

            payload = "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"
            headers = {
                'Accept': "application/json",
                'Content-Type': "application/json",
                'end-user-token': "NO DEFAULT",
                'api-token': "REPLACE_KEY_VALUE"
                }

            response = requests.request("POST", url, data=payload, headers=headers)

            print(response.text)
        - lang: Ruby_native
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://api.directfreight.com/v1/alerts/loads")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Post.new(url)
            request["Accept"] = 'application/json'
            request["Content-Type"] = 'application/json'
            request["end-user-token"] = 'NO DEFAULT'
            request["api-token"] = 'REPLACE_KEY_VALUE'
            request.body = "{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}"

            response = http.request(request)
            puts response.read_body
        - lang: Shell_curl
          source: |-
            curl --request POST \
              --url https://api.directfreight.com/v1/alerts/loads \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --header 'end-user-token: NO DEFAULT' \
              --data '{"email_address":"<ADD EXAMPLE VALUE>","end_hour":0,"expires_after":"2019-12-30","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"search":{"delivery_date":"<ADD EXAMPLE VALUE>","destination_city":"<ADD EXAMPLE VALUE>","destination_radius":0,"destination_state":"<ADD EXAMPLE VALUE>","full_load":false,"origin_city":"<ADD EXAMPLE VALUE>","origin_radius":0,"origin_state":"<ADD EXAMPLE VALUE>"},"send_type":"email","start_hour":0,"time_zone":0}'
        - lang: Shell_httpie
          source: |-
            echo '{"email_address":"<ADD EXAMPLE VALUE>","end_hour":0,"expires_after":"2019-12-30","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"search":{"delivery_date":"<ADD EXAMPLE VALUE>","destination_city":"<ADD EXAMPLE VALUE>","destination_radius":0,"destination_state":"<ADD EXAMPLE VALUE>","full_load":false,"origin_city":"<ADD EXAMPLE VALUE>","origin_radius":0,"origin_state":"<ADD EXAMPLE VALUE>"},"send_type":"email","start_hour":0,"time_zone":0}' |  \
              http POST https://api.directfreight.com/v1/alerts/loads \
              Accept:application/json \
              Content-Type:application/json \
              api-token:REPLACE_KEY_VALUE \
              end-user-token:'NO DEFAULT'
        - lang: Shell_wget
          source: |-
            wget --verbose \
              --method POST \
              --header 'Accept: application/json' \
              --header 'Content-Type: application/json' \
              --header 'end-user-token: NO DEFAULT' \
              --header 'api-token: REPLACE_KEY_VALUE' \
              --body-data '{"email_address":"<ADD EXAMPLE VALUE>","end_hour":0,"expires_after":"2019-12-30","list_order":"<ADD EXAMPLE VALUE>","list_type":"complete-list","minute_frequency":0,"search":{"delivery_date":"<ADD EXAMPLE VALUE>","destination_city":"<ADD EXAMPLE VALUE>","destination_radius":0,"destination_state":"<ADD EXAMPLE VALUE>","full_load":false,"origin_city":"<ADD EXAMPLE VALUE>","origin_radius":0,"origin_state":"<ADD EXAMPLE VALUE>"},"send_type":"email","start_hour":0,"time_zone":0}' \
              --output-document \
              - https://api.directfreight.com/v1/alerts/loads
        - lang: Swift_nsurlsession
          source: |-
            import Foundation

            let headers = [
              "Accept": "application/json",
              "Content-Type": "application/json",
              "end-user-token": "NO DEFAULT",
              "api-token": "REPLACE_KEY_VALUE"
            ]
            let parameters = [
              "email_address": "<ADD EXAMPLE VALUE>",
              "end_hour": 0,
              "expires_after": "2019-12-30",
              "list_order": "<ADD EXAMPLE VALUE>",
              "list_type": "complete-list",
              "minute_frequency": 0,
              "search": [
                "delivery_date": "<ADD EXAMPLE VALUE>",
                "destination_city": "<ADD EXAMPLE VALUE>",
                "destination_radius": 0,
                "destination_state": "<ADD EXAMPLE VALUE>",
                "full_load": false,
                "origin_city": "<ADD EXAMPLE VALUE>",
                "origin_radius": 0,
                "origin_state": "<ADD EXAMPLE VALUE>"
              ],
              "send_type": "email",
              "start_hour": 0,
              "time_zone": 0
            ]

            let postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)

            var request = NSMutableURLRequest(URL: NSURL(string: "https://api.directfreight.com/v1/alerts/loads")!,
                                                    cachePolicy: .UseProtocolCachePolicy,
                                                timeoutInterval: 10.0)
            request.HTTPMethod = "POST"
            request.allHTTPHeaderFields = headers
            request.HTTPBody = postData

            let session = NSURLSession.sharedSession()
            let dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in
              if (error != nil) {
                println(error)
              } else {
                let httpResponse = response as? NSHTTPURLResponse
                println(httpResponse)
              }
            })

            dataTask.resume()
    x-restlet:
      section: ALERTS
      x-code-samples:
        - lang: C_libcurl
          source: |-
            CURL *hnd = curl_easy_init();

            curl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, "X-RESTLET");
            curl_easy_setopt(hnd, CURLOPT_URL, "https://api.directfreight.com/v1/alerts/loads");

            struct curl_slist *headers = NULL;
            headers = curl_slist_append(headers, "api-token: REPLACE_KEY_VALUE");
            headers = curl_slist_append(headers, "Content-Type: application/json");
            headers = curl_slist_append(headers, "Accept: application/json");
            curl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);

            CURLcode ret = curl_easy_perform(hnd);
        - lang: Csharp_restsharp
          source: Method not supported
        - lang: Go_native
          source: "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
        - lang: Java_okhttp
          source: |-
            OkHttpClient client = new OkHttpClient();

            Request request = new Request.Builder()
              .url("https://api.directfreight.com/v1/alerts/loads")
              .method("X-RESTLET", null)
              .addHeader("Accept", "application/json")
              .addHeader("Content-Type", "application/json")
              .addHeader("api-token", "REPLACE_KEY_VALUE")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Java_unirest
          source: |-
            HttpResponse<String> response = Unirest.customMethod("X-RESTLET","https://api.directfreight.com/v1/alerts/loads")
              .header("Accept", "application/json")
              .header("Content-Type", "application/json")
              .header("api-token", "REPLACE_KEY_VALUE")
              .asString();
        - lang: Javascript_jquery
          source: |-
            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "https://api.directfreight.com/v1/alerts/loads",
              "method": "X-RESTLET",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "api-token": "REPLACE_KEY_VALUE"
              }
            }

            $.ajax(settings).done(function (response) {
              console.log(response);
            });
        - lang: Javascript_xhr
          source: |-
            var data = null;

            var xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
              if (this.readyState === this.DONE) {
                console.log(this.responseText);
              }
            });

            xhr.open("X-RESTLET", "https://api.directfreight.com/v1/alerts/loads");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.setRequestHeader("api-token", "REPLACE_KEY_VALUE");

            xhr.send(data);
        - lang: Node_native
          source: |-
            var http = require("https");

            var options = {
              "method": "X-RESTLET",
              "hostname": "api.directfreight.com",
              "port": null,
              "path": "/v1/alerts/loads",
              "headers": {
                "Accept": "application/json",
                "Content-Type": "application/json",
                "api-token": "REPLACE_KEY_VALUE"
              }
            };

            var req = http.request(options, function (res) {
              var chunks = [];

              res.on("data", function (chunk) {
                chunks.push(chunk);
              });

              res.on("end", function () {
                var body = Buffer.concat(chunks);
                console.log(body.toString());
              });
            });

            req.end();
        - lang: Node_request
          source: |
            var request = require("request");

            var options = { method: 'X-RESTLET',
              url: 'https://api.directfreight.com/v1/alerts/loads',
              headers: 
               { 'api-token': 'REPLACE_KEY_VALUE',
                 'Content-Type': 'application/json',
                 Accept: 'application/json' } };

            request(options, function (error, response, body) {
              if (error) throw new Error(error);

              console.log(body);
            });
        - lang: Node_unirest
          source: |
            var unirest = require("unirest");

            var req = unirest("X-RESTLET", "https://api.directfreight.com/v1/alerts/loads");

            req.headers({
              "api-token": "REPLACE_KEY_VALUE",
              "Content-Type": "application/json",
              "Accept": "application/json"
            });


            req.end(function (res) {
              if (res.error) throw new Error(res.error);

              console.log(res.body);
            });
        - lang: Objc_nsurlsession
          source: |-
            #import <Foundation/Foundation.h>

            NSDictionary *headers = @{ @"Accept": @"application/json",
                                       @"Content-Type": @"application/json",
                                       @"api-token": @"REPLACE_KEY_VALUE" };

            NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@"https://api.directfreight.com/v1/alerts/loads"]
                                                                   cachePolicy:NSURLRequestUseProtocolCachePolicy
                                                               timeoutInterval:10.0];
            [request setHTTPMethod:@"X-RESTLET"];
            [request setAllHTTPHeaderFields:headers];

            NSURLSession *session = [NSURLSession sharedSession];
            NSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request
                                                        completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {
                                                            if (error) {
                                                                NSLog(@"%@", error);
                                                            } else {
                                                                NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;
                                                                NSLog(@"%@", httpResponse);
                                                            }
                                                        }];
            [dataTask resume];
        - lang: Ocaml_cohttp
          source: |-
            open Cohttp_lwt_unix
            open Cohttp
            open Lwt

            let uri = Uri.of_string "https://api.directfreight.com/v1/alerts/loads" in
            let headers = Header.add_list (Header.init ()) [
              ("Accept", "application/json");
              ("Content-Type", "application/json");
              ("api-token", "REPLACE_KEY_VALUE");
            ] in

[...]
