{
  "basePath": "/v1",
  "consumes": [
    "application/json"
  ],
  "host": "api.directfreight.com",
  "info": {
    "contact": {},
    "description": "In order to use the Direct Freight API please first contact us to get an API Token. This token needs to be sent as a HTTP header argument in every request to our API.\n\napi-token=\"SECRET KEY\"\n\nPlease keep your api-token a secret. If the token is compromised please contact us to get a new one.\n\nThis api token authenticates your application and gives it access to the API.\n\nThe API token should not be confused with the end-user-token. That token is given to you via the end_user_authentications endpoint when the user logs in. This token is needed in order to use certain features, and get certain sensitive information.\n\nBoth Tokens are stateless, and delivered via the HTTP headers.",
    "title": "Direct Freight API",
    "version": "1.0",
    "x-logo": {
      "url": "https://www.directfreight.com/home/images/logo-direct-freight.png"
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "api-token": []
    }
  ],
  "securityDefinitions": {
    "api-token": {
      "in": "header",
      "name": "api-token",
      "type": "apiKey"
    }
  },
  "swagger": "2.0",
  "x-restlet": {
    "sections": {
      "ALERTS": {},
      "BOARDS": {},
      "END_USER_AUTHENTICATIONS": {},
      "LOCATIONS": {},
      "Mobile Update": {},
      "Optins": {},
      "POSTINGS": {},
      "PROFILES": {},
      "VALIDATIONS": {},
      "common_definitions": {},
      "not categorized yet": {}
    }
  },
  "parameters": {
    "end-user-token": {
      "in": "header",
      "name": "end-user-token",
      "required": true,
      "type": "string"
    },
    "end-user-token-optional": {
      "in": "header",
      "name": "end-user-token",
      "required": false,
      "type": "string"
    },
    "board_type": {
      "description": "Valid types are \"loads\", and \"trucks\".",
      "enum": [
        "loads",
        "trucks"
      ],
      "in": "path",
      "name": "board_type",
      "required": true,
      "type": "string"
    },
    "posting_type": {
      "description": "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\"",
      "enum": [
        "loads",
        "trucks",
        "private_loads",
        "private_trucks",
        "test_loads",
        "test_trucks"
      ],
      "in": "path",
      "name": "posting_type",
      "required": true,
      "type": "string"
    }
  },
  "responses": {
    "error_422": {
      "description": "Unprocessable Entity. More information provided in the return object.",
      "schema": {
        "$ref": "#/definitions/error_object"
      }
    },
    "object_created": {
      "description": "Object created check the headers for a reference URL.",
      "schema": {
        "$ref": "#/definitions/create_status"
      }
    }
  },
  "paths": {
    "/alerts/{board_type}": {
      "delete": {
        "parameters": [
          {
            "description": "Specify to just delete some alerts.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "alert_id",
            "required": true,
            "type": "array"
          },
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "successful operation"
          }
        },
        "summary": "STAGE=UNK Delete an alert.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\");\nvar request = new RestRequest(Method.DELETE);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")\n  .delete(null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.delete(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\",\n  \"method\": \"DELETE\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"DELETE\", \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"DELETE\",\n  \"hostname\": \"api.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'DELETE',\n  url: 'https://api.directfreight.com/v1/alerts/loads',\n  qs: { alert_id: 'SOME_ARRAY_VALUE' },\n  headers: \n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"DELETE\", \"https://api.directfreight.com/v1/alerts/loads\");\n\nreq.query({\n  \"alert_id\": \"SOME_ARRAY_VALUE\"\n});\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"DELETE\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers `DELETE uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"DELETE\",\n\"'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setMethod(HTTP_METH_DELETE);\n\n$request->setQueryData(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n));\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setRequestMethod('DELETE');\n$request->setQuery(new http\\QueryString(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n)));\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.directfreight.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"DELETE\", \"/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://api.directfreight.com/v1/alerts/loads\"\n\nquerystring = {\"alert_id\":\"SOME_ARRAY_VALUE\"}\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"DELETE\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request DELETE \\\n  --url 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http DELETE 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method DELETE \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"DELETE\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "get": {
        "description": "Get a list of alerts. You can optionally limit the list by specifcying alerts by their alert_id.",
        "parameters": [
          {
            "description": "only get a subset of alerts. As this is a get request this is specified as a query string parameter.",
            "in": "query",
            "items": {
              "type": "integer"
            },
            "name": "alert_id",
            "required": false,
            "type": "array"
          },
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "On success will return a list of alerts.",
            "schema": {
              "$ref": "#/definitions/alert_list"
            }
          }
        },
        "summary": "STAGE=UNK Retrieve alerts.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.get(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"GET\", \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"GET\",\n  \"hostname\": \"api.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'GET',\n  url: 'https://api.directfreight.com/v1/alerts/loads',\n  qs: { alert_id: 'SOME_ARRAY_VALUE' },\n  headers: \n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"GET\", \"https://api.directfreight.com/v1/alerts/loads\");\n\nreq.query({\n  \"alert_id\": \"SOME_ARRAY_VALUE\"\n});\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"GET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers `GET uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"GET\",\n\"'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setMethod(HTTP_METH_GET);\n\n$request->setQueryData(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n));\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setRequestMethod('GET');\n$request->setQuery(new http\\QueryString(array(\n  'alert_id' => 'SOME_ARRAY_VALUE'\n)));\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.directfreight.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"GET\", \"/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://api.directfreight.com/v1/alerts/loads\"\n\nquerystring = {\"alert_id\":\"SOME_ARRAY_VALUE\"}\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"GET\", url, headers=headers, params=querystring)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request GET \\\n  --url 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http GET 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE' \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method GET \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - 'https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE'"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://api.directfreight.com/v1/alerts/loads?alert_id=SOME_ARRAY_VALUE\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"GET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "parameters": [
        {
          "description": "Valid types are \"loads\", and \"trucks\".",
          "enum": [
            "loads",
            "trucks"
          ],
          "in": "path",
          "name": "board_type",
          "required": true,
          "type": "string"
        }
      ],
      "patch": {
        "consumes": [],
        "description": "Search objects are set at creation. You cannot modify them after the alert has been created.",
        "parameters": [
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patch_alert_properties"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Returned on response."
          }
        },
        "summary": "STAGE=UNK Update an alert.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"PATCH\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api.directfreight.com/v1/alerts/loads\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://api.directfreight.com/v1/alerts/loads\");\nvar request = new RestRequest(Method.PATCH);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddParameter(\"undefined\", \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads\"\n\n\tpayload := strings.NewReader(\"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\")\n\n\treq, _ := http.NewRequest(\"PATCH\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.directfreight.com/v1/alerts/loads\")\n  .patch(body)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.patch(\"https://api.directfreight.com/v1/alerts/loads\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.directfreight.com/v1/alerts/loads\",\n  \"method\": \"PATCH\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"alert_id\": 0,\n  \"end_hour\": 0,\n  \"expires_after\": \"<ADD EXAMPLE VALUE>\",\n  \"list_order\": \"<ADD EXAMPLE VALUE>\",\n  \"list_type\": \"complete-list\",\n  \"minute_frequency\": 0,\n  \"send_type\": \"email\",\n  \"start_hour\": 0,\n  \"time_zone\": 0\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"PATCH\", \"https://api.directfreight.com/v1/alerts/loads\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"PATCH\",\n  \"hostname\": \"api.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/v1/alerts/loads\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ alert_id: 0,\n  end_hour: 0,\n  expires_after: '<ADD EXAMPLE VALUE>',\n  list_order: '<ADD EXAMPLE VALUE>',\n  list_type: 'complete-list',\n  minute_frequency: 0,\n  send_type: 'email',\n  start_hour: 0,\n  time_zone: 0 }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'PATCH',\n  url: 'https://api.directfreight.com/v1/alerts/loads',\n  headers: \n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' },\n  body: \n   { alert_id: 0,\n     end_hour: 0,\n     expires_after: '<ADD EXAMPLE VALUE>',\n     list_order: '<ADD EXAMPLE VALUE>',\n     list_type: 'complete-list',\n     minute_frequency: 0,\n     send_type: 'email',\n     start_hour: 0,\n     time_zone: 0 },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"PATCH\", \"https://api.directfreight.com/v1/alerts/loads\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\nreq.type(\"json\");\nreq.send({\n  \"alert_id\": 0,\n  \"end_hour\": 0,\n  \"expires_after\": \"<ADD EXAMPLE VALUE>\",\n  \"list_order\": \"<ADD EXAMPLE VALUE>\",\n  \"list_type\": \"complete-list\",\n  \"minute_frequency\": 0,\n  \"send_type\": \"email\",\n  \"start_hour\": 0,\n  \"time_zone\": 0\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\nNSDictionary *parameters = @{ @\"alert_id\": @0,\n                              @\"end_hour\": @0,\n                              @\"expires_after\": @\"<ADD EXAMPLE VALUE>\",\n                              @\"list_order\": @\"<ADD EXAMPLE VALUE>\",\n                              @\"list_type\": @\"complete-list\",\n                              @\"minute_frequency\": @0,\n                              @\"send_type\": @\"email\",\n                              @\"start_hour\": @0,\n                              @\"time_zone\": @0 };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.directfreight.com/v1/alerts/loads\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"PATCH\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api.directfreight.com/v1/alerts/loads\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\nlet body = Cohttp_lwt_body.of_string \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\" in\n\nClient.call ~headers ~body `PATCH uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"PATCH\",\n\"https://api.directfreight.com/v1/alerts/loads\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\n$request->content('{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.directfreight.com/v1/alerts/loads\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"PATCH\",\n  CURLOPT_POSTFIELDS => \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('PATCH');\n$request = new HttpRequest();\n$request->setUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setMethod(HttpRequest::HTTP_METH_PATCH);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$request->setBody('{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}');\n\n$request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setRequestMethod('PATCH');\n$request->setBody($body);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.directfreight.com\")\n\npayload = \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"PATCH\", \"/v1/alerts/loads\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://api.directfreight.com/v1/alerts/loads\"\n\npayload = \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"PATCH\", url, data=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.directfreight.com/v1/alerts/loads\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Patch.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"alert_id\\\":0,\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request PATCH \\\n  --url https://api.directfreight.com/v1/alerts/loads \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --data '{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}'"
          },
          {
            "lang": "Shell_httpie",
            "source": "echo '{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}' |  \\\n  http PATCH https://api.directfreight.com/v1/alerts/loads \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method PATCH \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --body-data '{\"alert_id\":0,\"end_hour\":0,\"expires_after\":\"<ADD EXAMPLE VALUE>\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}' \\\n  --output-document \\\n  - https://api.directfreight.com/v1/alerts/loads"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\nlet parameters = [\n  \"alert_id\": 0,\n  \"end_hour\": 0,\n  \"expires_after\": \"<ADD EXAMPLE VALUE>\",\n  \"list_order\": \"<ADD EXAMPLE VALUE>\",\n  \"list_type\": \"complete-list\",\n  \"minute_frequency\": 0,\n  \"send_type\": \"email\",\n  \"start_hour\": 0,\n  \"time_zone\": 0\n]\n\nlet postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://api.directfreight.com/v1/alerts/loads\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"PATCH\"\nrequest.allHTTPHeaderFields = headers\nrequest.HTTPBody = postData\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "post": {
        "consumes": [],
        "description": "Any parameter that is defined here and is also defined on the boards GET, follows the same rules.",
        "parameters": [
          {
            "in": "header",
            "name": "end-user-token",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/alert"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/object_created"
          }
        },
        "summary": "STAGE=UNK Create an alert.",
        "tags": [
          "alerts"
        ],
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api.directfreight.com/v1/alerts/loads\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"end-user-token: NO DEFAULT\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "var client = new RestClient(\"https://api.directfreight.com/v1/alerts/loads\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\nrequest.AddHeader(\"end-user-token\", \"NO DEFAULT\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddParameter(\"undefined\", \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads\"\n\n\tpayload := strings.NewReader(\"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"end-user-token\", \"NO DEFAULT\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\");\nRequest request = new Request.Builder()\n  .url(\"https://api.directfreight.com/v1/alerts/loads\")\n  .post(body)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"end-user-token\", \"NO DEFAULT\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.post(\"https://api.directfreight.com/v1/alerts/loads\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"end-user-token\", \"NO DEFAULT\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .body(\"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.directfreight.com/v1/alerts/loads\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = JSON.stringify({\n  \"email_address\": \"<ADD EXAMPLE VALUE>\",\n  \"end_hour\": 0,\n  \"expires_after\": \"2019-12-30\",\n  \"list_order\": \"<ADD EXAMPLE VALUE>\",\n  \"list_type\": \"complete-list\",\n  \"minute_frequency\": 0,\n  \"search\": {\n    \"delivery_date\": \"<ADD EXAMPLE VALUE>\",\n    \"destination_city\": \"<ADD EXAMPLE VALUE>\",\n    \"destination_radius\": 0,\n    \"destination_state\": \"<ADD EXAMPLE VALUE>\",\n    \"full_load\": false,\n    \"origin_city\": \"<ADD EXAMPLE VALUE>\",\n    \"origin_radius\": 0,\n    \"origin_state\": \"<ADD EXAMPLE VALUE>\"\n  },\n  \"send_type\": \"email\",\n  \"start_hour\": 0,\n  \"time_zone\": 0\n});\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"POST\", \"https://api.directfreight.com/v1/alerts/loads\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"end-user-token\", \"NO DEFAULT\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"POST\",\n  \"hostname\": \"api.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/v1/alerts/loads\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"end-user-token\": \"NO DEFAULT\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.write(JSON.stringify({ email_address: '<ADD EXAMPLE VALUE>',\n  end_hour: 0,\n  expires_after: '2019-12-30',\n  list_order: '<ADD EXAMPLE VALUE>',\n  list_type: 'complete-list',\n  minute_frequency: 0,\n  search: \n   { delivery_date: '<ADD EXAMPLE VALUE>',\n     destination_city: '<ADD EXAMPLE VALUE>',\n     destination_radius: 0,\n     destination_state: '<ADD EXAMPLE VALUE>',\n     full_load: false,\n     origin_city: '<ADD EXAMPLE VALUE>',\n     origin_radius: 0,\n     origin_state: '<ADD EXAMPLE VALUE>' },\n  send_type: 'email',\n  start_hour: 0,\n  time_zone: 0 }));\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'POST',\n  url: 'https://api.directfreight.com/v1/alerts/loads',\n  headers: \n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'end-user-token': 'NO DEFAULT',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' },\n  body: \n   { email_address: '<ADD EXAMPLE VALUE>',\n     end_hour: 0,\n     expires_after: '2019-12-30',\n     list_order: '<ADD EXAMPLE VALUE>',\n     list_type: 'complete-list',\n     minute_frequency: 0,\n     search: \n      { delivery_date: '<ADD EXAMPLE VALUE>',\n        destination_city: '<ADD EXAMPLE VALUE>',\n        destination_radius: 0,\n        destination_state: '<ADD EXAMPLE VALUE>',\n        full_load: false,\n        origin_city: '<ADD EXAMPLE VALUE>',\n        origin_radius: 0,\n        origin_state: '<ADD EXAMPLE VALUE>' },\n     send_type: 'email',\n     start_hour: 0,\n     time_zone: 0 },\n  json: true };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"POST\", \"https://api.directfreight.com/v1/alerts/loads\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\nreq.type(\"json\");\nreq.send({\n  \"email_address\": \"<ADD EXAMPLE VALUE>\",\n  \"end_hour\": 0,\n  \"expires_after\": \"2019-12-30\",\n  \"list_order\": \"<ADD EXAMPLE VALUE>\",\n  \"list_type\": \"complete-list\",\n  \"minute_frequency\": 0,\n  \"search\": {\n    \"delivery_date\": \"<ADD EXAMPLE VALUE>\",\n    \"destination_city\": \"<ADD EXAMPLE VALUE>\",\n    \"destination_radius\": 0,\n    \"destination_state\": \"<ADD EXAMPLE VALUE>\",\n    \"full_load\": false,\n    \"origin_city\": \"<ADD EXAMPLE VALUE>\",\n    \"origin_radius\": 0,\n    \"origin_state\": \"<ADD EXAMPLE VALUE>\"\n  },\n  \"send_type\": \"email\",\n  \"start_hour\": 0,\n  \"time_zone\": 0\n});\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"end-user-token\": @\"NO DEFAULT\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\nNSDictionary *parameters = @{ @\"email_address\": @\"<ADD EXAMPLE VALUE>\",\n                              @\"end_hour\": @0,\n                              @\"expires_after\": @\"2019-12-30\",\n                              @\"list_order\": @\"<ADD EXAMPLE VALUE>\",\n                              @\"list_type\": @\"complete-list\",\n                              @\"minute_frequency\": @0,\n                              @\"search\": @{ @\"delivery_date\": @\"<ADD EXAMPLE VALUE>\", @\"destination_city\": @\"<ADD EXAMPLE VALUE>\", @\"destination_radius\": @0, @\"destination_state\": @\"<ADD EXAMPLE VALUE>\", @\"full_load\": @NO, @\"origin_city\": @\"<ADD EXAMPLE VALUE>\", @\"origin_radius\": @0, @\"origin_state\": @\"<ADD EXAMPLE VALUE>\" },\n                              @\"send_type\": @\"email\",\n                              @\"start_hour\": @0,\n                              @\"time_zone\": @0 };\n\nNSData *postData = [NSJSONSerialization dataWithJSONObject:parameters options:0 error:nil];\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.directfreight.com/v1/alerts/loads\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"POST\"];\n[request setAllHTTPHeaderFields:headers];\n[request setHTTPBody:postData];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api.directfreight.com/v1/alerts/loads\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"end-user-token\", \"NO DEFAULT\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\nlet body = Cohttp_lwt_body.of_string \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\" in\n\nClient.call ~headers ~body `POST uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"POST\",\n\"https://api.directfreight.com/v1/alerts/loads\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"end-user-token\" => \"NO DEFAULT\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\n$request->content('{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}');\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.directfreight.com/v1/alerts/loads\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\",\n    \"end-user-token: NO DEFAULT\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$request->setBody('{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}');\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$body = new http\\Message\\Body;\n$body->append('{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}');\n\n$request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setRequestMethod('POST');\n$request->setBody($body);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'end-user-token' => 'NO DEFAULT',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.directfreight.com\")\n\npayload = \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"POST\", \"/v1/alerts/loads\", payload, headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://api.directfreight.com/v1/alerts/loads\"\n\npayload = \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'end-user-token': \"NO DEFAULT\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"POST\", url, data=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nurl = URI(\"https://api.directfreight.com/v1/alerts/loads\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"end-user-token\"] = 'NO DEFAULT'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\nrequest.body = \"{\\\"email_address\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"end_hour\\\":0,\\\"expires_after\\\":\\\"2019-12-30\\\",\\\"list_order\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"list_type\\\":\\\"complete-list\\\",\\\"minute_frequency\\\":0,\\\"search\\\":{\\\"delivery_date\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"destination_radius\\\":0,\\\"destination_state\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"full_load\\\":false,\\\"origin_city\\\":\\\"<ADD EXAMPLE VALUE>\\\",\\\"origin_radius\\\":0,\\\"origin_state\\\":\\\"<ADD EXAMPLE VALUE>\\\"},\\\"send_type\\\":\\\"email\\\",\\\"start_hour\\\":0,\\\"time_zone\\\":0}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request POST \\\n  --url https://api.directfreight.com/v1/alerts/loads \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --data '{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}'"
          },
          {
            "lang": "Shell_httpie",
            "source": "echo '{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}' |  \\\n  http POST https://api.directfreight.com/v1/alerts/loads \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE \\\n  end-user-token:'NO DEFAULT'"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method POST \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'end-user-token: NO DEFAULT' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --body-data '{\"email_address\":\"<ADD EXAMPLE VALUE>\",\"end_hour\":0,\"expires_after\":\"2019-12-30\",\"list_order\":\"<ADD EXAMPLE VALUE>\",\"list_type\":\"complete-list\",\"minute_frequency\":0,\"search\":{\"delivery_date\":\"<ADD EXAMPLE VALUE>\",\"destination_city\":\"<ADD EXAMPLE VALUE>\",\"destination_radius\":0,\"destination_state\":\"<ADD EXAMPLE VALUE>\",\"full_load\":false,\"origin_city\":\"<ADD EXAMPLE VALUE>\",\"origin_radius\":0,\"origin_state\":\"<ADD EXAMPLE VALUE>\"},\"send_type\":\"email\",\"start_hour\":0,\"time_zone\":0}' \\\n  --output-document \\\n  - https://api.directfreight.com/v1/alerts/loads"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"end-user-token\": \"NO DEFAULT\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\nlet parameters = [\n  \"email_address\": \"<ADD EXAMPLE VALUE>\",\n  \"end_hour\": 0,\n  \"expires_after\": \"2019-12-30\",\n  \"list_order\": \"<ADD EXAMPLE VALUE>\",\n  \"list_type\": \"complete-list\",\n  \"minute_frequency\": 0,\n  \"search\": [\n    \"delivery_date\": \"<ADD EXAMPLE VALUE>\",\n    \"destination_city\": \"<ADD EXAMPLE VALUE>\",\n    \"destination_radius\": 0,\n    \"destination_state\": \"<ADD EXAMPLE VALUE>\",\n    \"full_load\": false,\n    \"origin_city\": \"<ADD EXAMPLE VALUE>\",\n    \"origin_radius\": 0,\n    \"origin_state\": \"<ADD EXAMPLE VALUE>\"\n  ],\n  \"send_type\": \"email\",\n  \"start_hour\": 0,\n  \"time_zone\": 0\n]\n\nlet postData = NSJSONSerialization.dataWithJSONObject(parameters, options: nil, error: nil)\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://api.directfreight.com/v1/alerts/loads\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.HTTPBody = postData\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      },
      "x-restlet": {
        "section": "ALERTS",
        "x-code-samples": [
          {
            "lang": "C_libcurl",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"X-RESTLET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://api.directfreight.com/v1/alerts/loads\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"api-token: REPLACE_KEY_VALUE\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"Accept: application/json\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "lang": "Csharp_restsharp",
            "source": "Method not supported"
          },
          {
            "lang": "Go_native",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://api.directfreight.com/v1/alerts/loads\"\n\n\treq, _ := http.NewRequest(\"X-RESTLET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"api-token\", \"REPLACE_KEY_VALUE\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "lang": "Java_okhttp",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://api.directfreight.com/v1/alerts/loads\")\n  .method(\"X-RESTLET\", null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "lang": "Java_unirest",
            "source": "HttpResponse<String> response = Unirest.customMethod(\"X-RESTLET\",\"https://api.directfreight.com/v1/alerts/loads\")\n  .header(\"Accept\", \"application/json\")\n  .header(\"Content-Type\", \"application/json\")\n  .header(\"api-token\", \"REPLACE_KEY_VALUE\")\n  .asString();"
          },
          {
            "lang": "Javascript_jquery",
            "source": "var settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://api.directfreight.com/v1/alerts/loads\",\n  \"method\": \"X-RESTLET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n}\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "lang": "Javascript_xhr",
            "source": "var data = null;\n\nvar xhr = new XMLHttpRequest();\nxhr.withCredentials = true;\n\nxhr.addEventListener(\"readystatechange\", function () {\n  if (this.readyState === this.DONE) {\n    console.log(this.responseText);\n  }\n});\n\nxhr.open(\"X-RESTLET\", \"https://api.directfreight.com/v1/alerts/loads\");\nxhr.setRequestHeader(\"Accept\", \"application/json\");\nxhr.setRequestHeader(\"Content-Type\", \"application/json\");\nxhr.setRequestHeader(\"api-token\", \"REPLACE_KEY_VALUE\");\n\nxhr.send(data);"
          },
          {
            "lang": "Node_native",
            "source": "var http = require(\"https\");\n\nvar options = {\n  \"method\": \"X-RESTLET\",\n  \"hostname\": \"api.directfreight.com\",\n  \"port\": null,\n  \"path\": \"/v1/alerts/loads\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"application/json\",\n    \"api-token\": \"REPLACE_KEY_VALUE\"\n  }\n};\n\nvar req = http.request(options, function (res) {\n  var chunks = [];\n\n  res.on(\"data\", function (chunk) {\n    chunks.push(chunk);\n  });\n\n  res.on(\"end\", function () {\n    var body = Buffer.concat(chunks);\n    console.log(body.toString());\n  });\n});\n\nreq.end();"
          },
          {
            "lang": "Node_request",
            "source": "var request = require(\"request\");\n\nvar options = { method: 'X-RESTLET',\n  url: 'https://api.directfreight.com/v1/alerts/loads',\n  headers: \n   { 'api-token': 'REPLACE_KEY_VALUE',\n     'Content-Type': 'application/json',\n     Accept: 'application/json' } };\n\nrequest(options, function (error, response, body) {\n  if (error) throw new Error(error);\n\n  console.log(body);\n});\n"
          },
          {
            "lang": "Node_unirest",
            "source": "var unirest = require(\"unirest\");\n\nvar req = unirest(\"X-RESTLET\", \"https://api.directfreight.com/v1/alerts/loads\");\n\nreq.headers({\n  \"api-token\": \"REPLACE_KEY_VALUE\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\"\n});\n\n\nreq.end(function (res) {\n  if (res.error) throw new Error(res.error);\n\n  console.log(res.body);\n});\n"
          },
          {
            "lang": "Objc_nsurlsession",
            "source": "#import <Foundation/Foundation.h>\n\nNSDictionary *headers = @{ @\"Accept\": @\"application/json\",\n                           @\"Content-Type\": @\"application/json\",\n                           @\"api-token\": @\"REPLACE_KEY_VALUE\" };\n\nNSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString:@\"https://api.directfreight.com/v1/alerts/loads\"]\n                                                       cachePolicy:NSURLRequestUseProtocolCachePolicy\n                                                   timeoutInterval:10.0];\n[request setHTTPMethod:@\"X-RESTLET\"];\n[request setAllHTTPHeaderFields:headers];\n\nNSURLSession *session = [NSURLSession sharedSession];\nNSURLSessionDataTask *dataTask = [session dataTaskWithRequest:request\n                                            completionHandler:^(NSData *data, NSURLResponse *response, NSError *error) {\n                                                if (error) {\n                                                    NSLog(@\"%@\", error);\n                                                } else {\n                                                    NSHTTPURLResponse *httpResponse = (NSHTTPURLResponse *) response;\n                                                    NSLog(@\"%@\", httpResponse);\n                                                }\n                                            }];\n[dataTask resume];"
          },
          {
            "lang": "Ocaml_cohttp",
            "source": "open Cohttp_lwt_unix\nopen Cohttp\nopen Lwt\n\nlet uri = Uri.of_string \"https://api.directfreight.com/v1/alerts/loads\" in\nlet headers = Header.add_list (Header.init ()) [\n  (\"Accept\", \"application/json\");\n  (\"Content-Type\", \"application/json\");\n  (\"api-token\", \"REPLACE_KEY_VALUE\");\n] in\n\nClient.call ~headers (Code.method_of_string \"X-RESTLET\") uri\n>>= fun (res, body_stream) ->\n  (* Do stuff with the result *)"
          },
          {
            "lang": "Perl_perl5",
            "source": "#!/usr/bin/perl\nuse Modern::Perl;\nuse Data::Dumper;\nuse HTTP::Request::JSON;\nuse LWP::UserAgent::JSON;\nmy $request = HTTP::Request::JSON->new(\"X-RESTLET\",\n\"https://api.directfreight.com/v1/alerts/loads\");\n$request->header( \"Accept\" => \"application/json\" );\n$request->header( \"Content-Type\" => \"application/json\" );\n$request->header( \"api-token\" => \"REPLACE_KEY_VALUE\" );\nmy $browser = LWP::UserAgent::JSON->new();\nmy $response = $browser->request($request);\nprint Dumper($response->json_content);"
          },
          {
            "lang": "Php_curl",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, array(\n  CURLOPT_URL => \"https://api.directfreight.com/v1/alerts/loads\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"X-RESTLET\",\n  CURLOPT_HTTPHEADER => array(\n    \"Accept: application/json\",\n    \"Content-Type: application/json\",\n    \"api-token: REPLACE_KEY_VALUE\"\n  ),\n));\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "lang": "Php_http1",
            "source": "<?php\n\nHttpRequest::methodRegister('X-RESTLET');\n$request = new HttpRequest();\n$request->setUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setMethod(HttpRequest::HTTP_METH_X-RESTLET);\n\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
          },
          {
            "lang": "Php_http2",
            "source": "<?php\n\n$client = new http\\Client;\n$request = new http\\Client\\Request;\n\n$request->setRequestUrl('https://api.directfreight.com/v1/alerts/loads');\n$request->setRequestMethod('X-RESTLET');\n$request->setHeaders(array(\n  'api-token' => 'REPLACE_KEY_VALUE',\n  'Content-Type' => 'application/json',\n  'Accept' => 'application/json'\n));\n\n$client->enqueue($request)->send();\n$response = $client->getResponse();\n\necho $response->getBody();"
          },
          {
            "lang": "Python_python3",
            "source": "import http.client\n\nconn = http.client.HTTPSConnection(\"api.directfreight.com\")\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nconn.request(\"X-RESTLET\", \"/v1/alerts/loads\", headers=headers)\n\nres = conn.getresponse()\ndata = res.read()\n\nprint(data.decode(\"utf-8\"))"
          },
          {
            "lang": "Python_requests",
            "source": "import requests\n\nurl = \"https://api.directfreight.com/v1/alerts/loads\"\n\nheaders = {\n    'Accept': \"application/json\",\n    'Content-Type': \"application/json\",\n    'api-token': \"REPLACE_KEY_VALUE\"\n    }\n\nresponse = requests.request(\"X-RESTLET\", url, headers=headers)\n\nprint(response.text)"
          },
          {
            "lang": "Ruby_native",
            "source": "require 'uri'\nrequire 'net/http'\n\nclass Net::HTTP::X-restlet < Net::HTTPRequest\n  METHOD = 'X-RESTLET'\n  REQUEST_HAS_BODY = 'false'\n  RESPONSE_HAS_BODY = true\nend\n\nurl = URI(\"https://api.directfreight.com/v1/alerts/loads\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\nhttp.verify_mode = OpenSSL::SSL::VERIFY_NONE\n\nrequest = Net::HTTP::X-restlet.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"api-token\"] = 'REPLACE_KEY_VALUE'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "lang": "Shell_curl",
            "source": "curl --request X-RESTLET \\\n  --url https://api.directfreight.com/v1/alerts/loads \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE'"
          },
          {
            "lang": "Shell_httpie",
            "source": "http X-RESTLET https://api.directfreight.com/v1/alerts/loads \\\n  Accept:application/json \\\n  Content-Type:application/json \\\n  api-token:REPLACE_KEY_VALUE"
          },
          {
            "lang": "Shell_wget",
            "source": "wget --verbose \\\n  --method X-RESTLET \\\n  --header 'Accept: application/json' \\\n  --header 'Content-Type: application/json' \\\n  --header 'api-token: REPLACE_KEY_VALUE' \\\n  --output-document \\\n  - https://api.directfreight.com/v1/alerts/loads"
          },
          {
            "lang": "Swift_nsurlsession",
            "source": "import Foundation\n\nlet headers = [\n  \"Accept\": \"application/json\",\n  \"Content-Type\": \"application/json\",\n  \"api-token\": \"REPLACE_KEY_VALUE\"\n]\n\nvar request = NSMutableURLRequest(URL: NSURL(string: \"https://api.directfreight.com/v1/alerts/loads\")!,\n                                        cachePolicy: .UseProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.HTTPMethod = \"X-RESTLET\"\nrequest.allHTTPHeaderFields = headers\n\nlet session = NSURLSession.sharedSession()\nlet dataTask = session.dataTaskWithRequest(request, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    println(error)\n  } else {\n    let httpResponse = response as? NSHTTPURLResponse\n    println(httpResponse)\n  }\n})\n\ndataTask.resume()"
          }
        ]
      }
    },
    "/boards/{board_type}": {
      "parameters": [
        {
          "description": "Defines the type of board requested.",
          "enum": [
            "loads",
            "trucks"
          ],
          "in": "path",
          "name": "board_type",
          "required": true,
          "type": "string",
          "x-example": "loads"
        }
      ],
      "post": {
        "consumes": [],
        "description": "This is the primary search method for loads and trucks. Please specifify at least an origin or destination.  The origin or destination may be state only.",
        "parameters": [
          {
            "default": "01234567890abc",
            "in": "header",
            "name": "end-user-token",
            "required": false,
            "type": "string",
            "x-example": "01234567890abc"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/board_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list matching your search.",
            "schema": {
              "$ref": "#/definitions/board_response"
            }
          },
          "422": {
[...]
