swagger: '2.0'
basePath: /api
securityDefinitions:
  api_key:
    in: header
    name: api-token
    type: apiKey
    description: >-
      This token needs to be sent as a HTTP header argument in every request to
      our API.
schemes:
  - https
host: www.directfreight.com
x-ibm-configuration: {}
security:
  - api_key: []
info:
  version: 2.0.0
  title: Direct Freight API
  x-logo:
    url: https://www.directfreight.com/home/images/logo-direct-freight.png
  description: >-
    In order to use the Direct Freight API please first contact us to get an API
    Token. This token needs to be sent as a HTTP header argument in every
    request to our API.


    api-token="SECRET KEY"


    Please keep your api-token a secret. If the token is compromised please
    contact us to get a new one.


    This api token authenticates your application and gives it access to the
    API.


    The API token should not be confused with the end-user-token. That token is
    given to you via the end_user_authentications endpoint when the user logs
    in. This token is needed in order to use certain features, and get certain
    sensitive information.


    Both Tokens are stateless, and delivered via the HTTP headers.
consumes:
  - application/json
produces:
  - application/json
responses:
  error_422:
    description: Unprocessable Entity. More information provided in the return object.
    schema:
      $ref: '#/definitions/error_object'
  object_created:
    description: Object created check the headers for a reference URL.
    schema:
      $ref: '#/definitions/create_status'
x-restlet:
  sections:
    ALERTS: {}
    BILLINGS: {}
    BOARDS: {}
    CREDIT_REPORTS: {}
    END_USER_AUTHENTICATIONS: {}
    LOCATIONS: {}
    POSTINGS: {}
    PROFILES: {}
    VALIDATIONS: {}
