basePath: /v1
consumes:
  - application/json
host: api.directfreight.com
info:
  contact: {}
  description: >-
    In order to use the swaggerhub-branch try2 Direct Freight API please first
    contact us to get an API Token. This token needs to be sent as a HTTP header
    argument in every request to our API.


    api-token="SECRET KEY"


    Please keep your api-token a secret. If the token is compromised please
    contact us to get a new one.


    This api token authenticates your application and gives it access to the
    API.


    The API token should not be confused with the end-user-token. That token is
    given to you via the end_user_authentications endpoint when the user logs
    in. This token is needed in order to use certain features, and get certain
    sensitive information.


    Both Tokens are stateless, and delivered via the HTTP headers.
  title: Direct Freight API
  version: '1.0'
  x-logo:
    url: 'https://www.directfreight.com/home/images/logo-direct-freight.png'
parameters:
  board_type:
    description: 'Valid types are "loads", and "trucks".'
    enum:
      - loads
      - trucks
    in: path
    name: board_type
    required: true
    type: string
  end-user-token:
    in: header
    name: end-user-token
    required: true
    type: string
  end-user-token-optional:
    in: header
    name: end-user-token
    required: false
    type: string
  posting_type:
    description: >-
      Valid types are "loads", "trucks", "private_loads", "private_trucks",
      "test_loads", and "test_trucks"
    enum:
      - loads
      - trucks
      - private_loads
      - private_trucks
      - test_loads
      - test_trucks
    in: path
    name: posting_type
    required: true
    type: string
produces:
  - application/json
responses:
  error_422:
    description: Unprocessable Entity. More information provided in the return object.
    schema:
      $ref: '#/definitions/error_object'
  object_created:
    description: Object created check the headers for a reference URL.
    schema:
      $ref: '#/definitions/create_status'
schemes:
  - https
security:
  - api-token: []
securityDefinitions:
  api-token:
    in: header
    name: api-token
    type: apiKey
swagger: '2.0'
x-restlet:
  sections:
    ALERTS: {}
    BOARDS: {}
    END_USER_AUTHENTICATIONS: {}
    LOCATIONS: {}
    Mobile Update: {}
    Optins: {}
    POSTINGS: {}
    PROFILES: {}
    VALIDATIONS: {}
    common_definitions: {}
    not categorized yet: {}
