swagger: "2.0"
info:
  description: "In order to use the Direct Freight Load Board API please first contact us to get an API Token. \nThis token needs to be sent as a HTTP header argument in every request to our API.\n\napi-token=\"SECRET KEY\"\n\nPlease keep your api-token a secret. If the token is compromised please contact us to get a new one.\n\nThis api token authenticates your application and gives it access to the API.\n\nThe API token should not be confused with the end-user-token. \nThe end-user-token is given to you via the end_user_authentications endpoint when the user logs in. \nThe end-user-token is needed in order to use certain features, and get certain sensitive information.\n\nBoth Tokens are stateless, and delivered via the HTTP headers.\nThe api token is a permanent token assigned to each partner.\nThe user token is a temporary session token assigned to each direct freight user.\nThe user token can be valid for up to 24 hours depending on activity."
  version: "1.0"
  title: Direct Freight Load Board API
  contact: {}
  x-logo:
    url: https://www.directfreight.com/home/images/logo-direct-freight.png
host: api.directfreight.com
basePath: /v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- api-token: []
paths:
  /alerts/{board_type}:
    get:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Retrieve alerts.
      description: Get a list of alerts. You can optionally limit the list by specifcying alerts by their alert_id. Returns 50 alerts by default.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: alert_id
        in: query
        description: only get a subset of alerts. As this is a get request this is specified as a query string parameter.
        required: false
        type: array
        items:
          type: integer
        collectionFormat: multi
      - name: page_number
        in: query
        description: "Page number to fetch, defaults to 1"
        required: false
        type: integer
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: On success will return a list of alerts.
          schema:
            $ref: '#/definitions/alert_list'
    post:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Create an alert.
      description: "This method will update or create an alert. The POST action with the same search parameters but different alert parameters will update the existing alert. The one caveaut to this is send_type. You can have 2 alerts with the same search parameters but different send_types. Any parameter that is defined here and is also defined on the boards POST action, follows the same rules."
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/alert'
      responses:
        "201":
          description: Object created check the headers for a reference URL
          schema:
            $ref: '#/definitions/create_status_alert'
    delete:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Delete an alert.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: alert_id
        in: query
        description: Specify to just delete some alerts.
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: successful operation
    patch:
      tags:
      - alerts
      summary: STAGE=UNK Update an alert.
      description: Search objects are set at creation. You cannot modify them after the alert has been created.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/patch_alert_properties'
      responses:
        "204":
          description: Returned on response.
    x-restlet:
      section: ALERTS
  /alerts/search/{board_type}:
    post:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Create an alert.
      description: "This method will search a users alert. It accepts the exact same structure as the POST method for /alerts/. Any parameter that is defined here and is also defined on the boards POST action, follows the same rules."
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/alert'
      - name: board_type
        in: path
        required: true
        type: string
      responses:
        "200":
          description: "Alert found, returns the alert_id that corresponds to the search."
          schema:
            $ref: '#/definitions/alert_search_response'
        "404":
          description: Alert not found using specified parameters.
    x-restlet:
      section: ALERTS
  /boards/{board_type}:
    get:
      tags:
      - boards
      summary: Retrieve single load
      description: Retrieves a single load
      parameters:
      - name: board_type
        in: path
        description: Defines the type of board requested.
        required: true
        type: string
        x-example: loads
        enum:
        - loads
        - trucks
      - name: entry_id
        in: query
        description: the entry_id associated with the data you want to get.
        required: true
        type: string
        x-example: "0123456789012345678901234567890123"
      - name: requesting_page
        in: query
        description: "The page that is requesting the information.  This is used to determine when to retrieve real time information from the shipper or broker.  Example:  requesting_page=\"book-now\" will return real time information for certain partners.  Stage=Private"
        required: false
        type: string
      - name: end-user-token
        in: header
        required: false
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/board_response_item'
    post:
      tags:
      - boards
      summary: Retrieve a board
      description: This is the primary search method for loads and trucks. Please specifify at least an origin or destination.  The origin or destination may be state only.
      parameters:
      - name: board_type
        in: path
        description: Defines the type of board requested.
        required: true
        type: string
        x-example: loads
        enum:
        - loads
        - trucks
      - name: end-user-token
        in: header
        required: false
        type: string
        default: 01234567890abc
        x-example: 01234567890abc
      - name: x-dont-update-user-last-date
        in: header
        description: "If this optional header is sent and set to a positive value, the API will not update the users last_date, this option is used internally when sending email alerts. STAGE=Private"
        required: false
        type: number
        default: 0.0
        x-example: 1.0
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/board_request'
      responses:
        "200":
          description: Returns a list matching your search.
          schema:
            $ref: '#/definitions/board_response'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: BOARDS
  /boards/{board_type}/state_totals:
    get:
      tags:
      - boards
      summary: Totals by state
      description: A convenience method to get totals by state.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: trailer_type
        in: query
        description: Filter totals to only include these trailer_type's. This parameter can be specified multiple times and the totals are combined. i.e. trailer_type=V&trailer_type=R returns the combined total of all loads that are either V or
        required: false
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_state_list_response'
    x-restlet:
      section: BOARDS
  /boards/{board_type}/state_totals/{state_code}:
    get:
      tags:
      - boards
      summary: Top 5 city totals by state
      description: A convenience method to get totals by state.  Stage=Private
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: trailer_type
        in: query
        description: Filter totals to only include these trailer_type's. This parameter can be specified multiple times and the totals are combined. i.e. trailer_type=V&trailer_type=R returns the combined total of all loads that are either V or
        required: false
        type: string
      - name: state_code
        in: path
        required: true
        type: string
      responses:
        "200":
          description: A list of freight rates
    x-restlet:
      section: BOARDS
  /boards/hidden_companies:
    get:
      tags:
      - boards
      summary: STAGE=UNK List hidden companies.
      description: Get a list of companies that should be hidden.
      parameters:
      - name: company_name
        in: query
        description: A list of company names to check if any should be visually hidden.  If this field is blank all hidden companies will be returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_hidden_companies_response'
    post:
      tags:
      - boards
      summary: STAGE=UNK Hide companies.
      description: Mark a set of companies as hidden.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/mark_hidden_companies'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - boards
      summary: STAGE=UNK Unhide companies
      description: Mark a company as not hidden.
      parameters:
      - name: company_name
        in: query
        description: The company that need to be marked as not hidden.
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: No content
    patch:
      tags:
      - boards
      summary: STAGE=UNK Change hidden status
      description: Toggle one  company between hidden and unhidden.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/toggle_hidden_companies'
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: BOARDS
  /boards/hidden_entries:
    get:
      tags:
      - boards
      summary: STAGE=UNK List hidden entries.
      description: Get a list of entries that should be hidden.
      parameters:
      - name: entry_id
        in: query
        description: A list of id's to check if any should be visually hidden.
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_hidden_entries'
    post:
      tags:
      - boards
      summary: STAGE=private Hide 1 or more postings
      description: Mark an entry as hidden.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/hidden_entry_object'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - boards
      summary: STAGE=private Unhide 1 or more postings
      description: ' Mark an entry as unhidden.'
      parameters:
      - name: entry_id
        in: query
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: No Content
    patch:
      tags:
      - boards
      summary: STAGE=UNK Change hidden status
      description: Toggle one or more entries between hidden and unhidden.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/toggle_hidden_entries'
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: BOARDS
  /boards/notes:
    get:
      tags:
      - boards
      summary: STAGE=UNK List user notes.
      description: Get notes that this user has written.
      parameters:
      - name: entry_id
        in: query
        description: 'Optionally just check if certain loads have notes associated with them. '
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_boards_notes_response'
    post:
      tags:
      - boards
      summary: STAGE=UNK Create a note.
      description: Create a new note.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_notes'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/note_create_status'
    delete:
      tags:
      - boards
      summary: STAGE=UNK Delete a note.
      parameters:
      - name: note_id
        in: query
        description: 'The entry to associate the note with. '
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: successful operation
    patch:
      tags:
      - boards
      summary: STAGE=UNK Update a note.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/update_notes'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/update_notes_status'
    x-restlet:
      section: BOARDS
  /boards/profit:
    get:
      tags:
      - boards
      summary: STAGE=Private Get profit data.
      description: Calculate trip profit.
      parameters:
      - name: origin_city
        in: query
        description: Origin City name
        required: true
        type: string
      - name: origin_state
        in: query
        description: "Origin State, two letter abbreviation"
        required: true
        type: string
      - name: destination_city
        in: query
        description: Destination City name
        required: true
        type: string
      - name: destination_state
        in: query
        description: "Destination State, two letter abbreviation"
        required: true
        type: string
      - name: pay_rate
        in: query
        description: "This field will accept either the per mile rate, or gross rate."
        required: false
        type: number
      - name: deadhead_distance
        in: query
        description: "Total deadhead distance in miles, if this value is provided the response will include the deadhead_cost."
        required: false
        type: number
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Details about the profitability of this trip.
          schema:
            $ref: '#/definitions/boards_profit_response'
    x-restlet:
      section: BOARDS
  /boards/freight_rates:
    get:
      tags:
      - boards
      summary: Get Freight Rates.
      description: Calculate Freight Rates.
      parameters:
      - name: origin_city
        in: query
        description: Origin City
        required: true
        type: string
      - name: origin_state
        in: query
        description: Origin State
        required: true
        type: string
      - name: destination_city
        in: query
        description: Destination City
        required: true
        type: string
      - name: destination_state
        in: query
        description: "Destination State. If destination_city and destination_state are set to \"ANYWHERE\", then this endpoint will return an average of freight rates from the origin to all destinations."
        required: true
        type: string
      - name: start_date
        in: query
        description: Must be used in conjunction with end_date. If not specified the most current day's data is used.
        required: false
        type: string
        format: date
      - name: end_date
        in: query
        description: Must be used in conjunction with start_date. If not specified the most current day's data is used
        required: false
        type: string
        format: date
      - name: trailer_type
        in: query
        description: "Trailer Type, defaults to \"all\" if not specied. This option can be specified multiple times."
        required: false
        type: string
        enum:
        - all
        - van
        - reefer
        - flat
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "201":
          description: Details about average rates for this trip. Returns an object where each key is a trailer type with an array of the freight rate for each day that was found for that type.
          schema:
            $ref: '#/definitions/boards_freight_rate_response'
    x-restlet:
      section: BOARDS
  /boards/freight_rates/saved_lanes:
    get:
      tags:
      - boards
      description: Get all saved lanes for logged in user.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Will return an object containing a list of saved lanes.
          schema:
            $ref: '#/definitions/boards_saved_lanes_response'
    post:
      tags:
      - boards
      description: Save a lane.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: object
          required:
          - destination_state
          - origin_city
          - origin_state
          properties:
            origin_city:
              type: string
              description: A valid city or OUTBOUND
            origin_state:
              type: string
              description: A valid State abbrevitaino or blank when using OUTBOUND.
            destinaition_city:
              type: string
              description: A valid city or INBOUND
            destination_state:
              type: string
              description: A valid State abbrevitaino or blank when using INBOUND.
      responses:
        "200":
          description: Will return an object containing a list of saved lanes.
          schema:
            $ref: '#/definitions/boards_saved_lanes_response'
    delete:
      tags:
      - boards
      summary: Remove a Saved lane
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: lane_id
        in: query
        required: true
        type: integer
      responses:
        "204":
          description: Will not have a return body.
    x-restlet:
      section: BOARDS
  /boards/offer/driver/accept_broker_offer:
    post:
      tags:
      - boards
      summary: Accept Broker Offer
      description: Submit the offer from the driver for this load.  STAGE=Private
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            entry_id:
              type: string
              description: 32 character entry id
            df_reference_code:
              type: string
              description: The reference code returned with the broker offer.
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/boards_accept_offer_response'
  /boards/offer/driver:
    get:
      tags:
      - boards
      summary: Get Driver Offer
      description: Get the offer submitted by the driver for this load.  STAGE=Private
      parameters:
      - name: df_reference_code
        in: query
        description: The reference code to look up the driver's offer
        required: true
        type: string
      - name: entry_id
        in: query
        description: 32 character entry id
        required: true
        type: string
      responses:
        "201":
          description: Details about Driver Offer
          schema:
            $ref: '#/definitions/boards_offer_driver_response'
    post:
      tags:
      - boards
      summary: Submit Driver Offer
      description: Submit the offer from the driver for this load.  STAGE=Private
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            entry_id:
              type: string
              description: 32 character entry id
            df_reference_code:
              type: string
              description: The reference code returned with the broker offer.
            quote_amount:
              type: number
              description: The amount offered by the driver to transport this load.
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/boards_submit_offer_response'
    x-restlet:
      section: BOARDS
  /boards/offer/driver/list:
    get:
      tags:
      - boards
      summary: Get accepted and submitter driver offers
      description: Get a list of accepted and submitted offers driver has for this load.  STAGE=Private
      parameters:
      - name: entry_id
        in: query
        description: 32 character entry id
        required: true
        type: string
      responses:
        "201":
          description: List of offers
          schema:
            $ref: '#/definitions/boards_offer_driver_list_response'
    x-restlet:
      section: BOARDS
  /end_user_authentications/users:
    post:
      tags:
      - end_user_authentications
      summary: Create a new user.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/user'
      responses:
        "201":
          description: successful operation
          schema:
            type: object
            required:
            - end-user-token
            properties:
              end-user-token:
                type: string
                description: Auto logs in the new user and gives them a token.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Deletes Logged in User
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Will not return content on a successful logout.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/sub_accounts:
    get:
      tags:
      - end_user_authentications
      description: Get sub account users
      parameters: []
      responses:
        "200":
          description: Sub account users
          schema:
            $ref: '#/definitions/sub_account_response'
    post:
      tags:
      - end_user_authentications
      summary: Invite Sub Account User.
      parameters:
      - name: user_id
        in: query
        description: The user_id to invite into the sub_account. You can use either user ID or Email to link.
        required: false
        type: integer
        x-example: ?user_id=1&user_id=2
      - name: email
        in: query
        description: The email address to invite into the sub_account. You can use either user ID or Email to link.
        required: false
        type: integer
        x-example: ?email=user1@domain.com&email=user2@domain.com
      responses:
        "201":
          description: successful operation
          schema:
            type: object
            properties:
              message:
                type: string
                description: Sub account users invited into primary account.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Unlink requested user_ids from sub account.
      parameters:
      - name: user_id
        in: query
        description: The user_id to unlink from the sub_account.
        required: true
        type: integer
        x-example: ?user_id=1&user_id=2
      - name: email
        in: query
        description: The email to unlink from the sub_account.
        required: true
        type: integer
        x-example: ?email=foo@bar.com&email=bar@foo.com
      responses:
        "204":
          description: Will not return content on a successful deletion.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/sub_accounts/accept_invitation:
    get:
      tags:
      - end_user_authentications
      description: Accept sub-account invitation
      parameters: []
      responses:
        "201":
          description: successful operation
          schema:
            type: object
            properties:
              message:
                type: string
                description: Sub-account invitation accepted successfully.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/departments:
    get:
      tags:
      - end_user_authentications
      description: Get departments
      parameters: []
      responses:
        "200":
          description: Get departments
          schema:
            $ref: '#/definitions/departments_response'
    post:
      tags:
      - end_user_authentications
      summary: Create department.
      parameters:
      - name: name
        in: query
        description: The name of the department to create.
        required: true
        type: string
        x-example: ?name=West-Coast&name=East-Coast
      responses:
        "201":
          description: successful operation
          schema:
            type: object
            properties:
              message:
                type: string
                description: Department created.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Delete requested department ids.
      parameters:
      - name: department_id
        in: query
        description: The department_id to delete.
        required: true
        type: integer
        x-example: ?department_id=1&department_id=2
      responses:
        "204":
          description: Will not return content on a successful deletion.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/departments/{department_id}:
    get:
      tags:
      - end_user_authentications
      description: Get departments users
      parameters:
      - name: department_id
        in: path
        description: Department ID
        required: true
        type: integer
      responses:
        "200":
          description: Get departments users
          schema:
            $ref: '#/definitions/department_users_response'
    post:
      tags:
      - end_user_authentications
      summary: Create department user.
      parameters:
      - name: user_id
        in: query
        description: The User ID to link to the department.
        required: false
        type: string
        x-example: ?user_id=1&user_id=2
      - name: email
        in: query
        description: The email to add to the department.
        required: false
        type: integer
        x-example: ?email=foo@bar.com&email=bar@foo.com
      - name: department_id
        in: path
        description: Department ID
        required: true
        type: integer
      responses:
        "201":
          description: successful operation
          schema:
            type: object
            properties:
              message:
                type: string
                description: Department user created.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Delete requested User ID from department.
      parameters:
      - name: user_id
        in: query
        description: The User ID to delete.
        required: true
        type: integer
        x-example: ?user_id=1&user_id=2
      - name: email
        in: query
        description: The email to unlink from the department.
        required: true
        type: integer
        x-example: ?email=foo@bar.com&email=bar@foo.com
      - name: department_id
        in: path
        description: Department ID
        required: true
        type: integer
      responses:
        "204":
          description: Will not return content on a successful deletion.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications:
    get:
      tags:
      - end_user_authentications
      summary: Get authentication level.
      description: Get current authentication level for the user.
      parameters:
      - name: end-user-token
        in: header
        required: false
        type: string
      responses:
        "200":
          description: successful operation
          examples:
            application/json: "{status: \"Subscribed\", nami_label: \"default\"}"
          schema:
            type: object
            properties:
              status:
                type: string
                description: Will return the logged in user's status.  (deprecated)
                enum:
                - subscribed
                - posting
                - overdue
                - not_logged_in
              nami_label:
                type: string
                description: used internally for in app purchase paywall campaigns
              roles:
                type: array
                items:
                  type: string
              abilities:
                type: array
                items:
                  type: string
    post:
      tags:
      - end_user_authentications
      summary: Login
      description: "This function sends login credentials, and retrieves a stateless token."
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/login_credentials'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/end-user-token'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Logout
      description: This deletes the logged in users account permanently.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Will not return content on a successful delete.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/dates:
    get:
      tags:
      - end_user_authentications
      summary: Retrieve date
      description: Gets an authoritative date_time string.
      parameters: []
      responses:
        "200":
          description: successful operation
          examples:
            application/json: |-
              {
                "now": "now"
              }
          schema:
            type: object
            properties:
              now:
                type: string
                description: The current date and time based on our server.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/uuids:
    get:
      tags:
      - end_user_authentications
      summary: Retrieve UUID
      description: Get or create a user specific UUID.
      parameters: []
      responses:
        "200":
          description: successful operation
          examples:
            application/json: |-
              {
                "uuid": "B542E92E-7359-4096-9382-0D5AD324808D"
              }
          schema:
            type: object
            properties:
              uuid:
                type: string
                description: The logged in users UUID.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/apple_appstore_notification:
    post:
      tags:
      - end_user_authentications
      summary: Save the apple notification to mysql  STAGE=private
      description: DEPRECATED Please use the webooks endpoint. Save the apple notification to mysql  STAGE=private
      parameters: []
      responses:
        "200":
          description: successful operation
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/passwords:
    get:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Retrieve password
      description: Request a forgotten password.
      parameters:
      - name: email_address
        in: query
        description: The user e-mail to send a password to if valid.
        required: true
        type: string
      responses:
        "204":
          description: This will return a success only if the e-mail is in our records.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    post:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Restore password.
      description: Creates a new password for a user with a recovery key
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          properties:
            recovery_key:
              type: string
              description: The key we e-mailed to a user when they forgot their password. See the GET section.
            new_password:
              type: string
              description: The new password they want it updated to.
      responses:
        "201":
          description: Their password was successfuly updated.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    patch:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Update password.
      description: Update a users password.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - new_password
          - old_password
          properties:
            new_password:
              type: string
              description: The user's new password.
            old_password:
              type: string
              description: Thee user's old password.
      responses:
        "204":
          description: A successful operation.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/auto_login_url:
    get:
      tags:
      - end_user_authentications
      description: Get an auto login url
      parameters:
      - name: redirect_url
        in: query
        description: "DirectFreight website URI to redirect to after login. Example, {{url}}/v1/end_user_authentications/auto_login_url?redirect_url=/boards/find/loads"
        required: false
        type: string
      responses:
        "201":
          description: Will return a DirectFreight URI that can be used to auto login and redirect.  The URI is valid for 5 minutes.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/email:
    patch:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Update email.
      description: Update a users email address.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - email
          properties:
            email:
              type: string
              description: The user's new email address.
      responses:
        "204":
          description: A successful operation.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/social_login:
    post:
      tags:
      - end_user_authentications
      summary: STAGE=Private Social Login/Create Account
      description: "Logs in or creates a new account for the user based on their email. \"new_account\" is what indicates if a new account was created, or if an existing account was used to login."
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/social_login_credentials'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/social-login-end-user-token'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /locations/autocomplete:
    get:
      tags:
      - locations
      summary: autocomplete
      description: "Searches a string of a partial city or state name, and returns a list of possible matches."
      parameters:
      - name: searchtext
        in: query
        description: "City or State or Postal code to search for.   It matches city name and state name and state abbreviation.  So for instance \"MO\" would return Missouri, Montana, and Montreal, QC  while  ME would return Maine, Mexico, and Memphis, TN"
        required: true
        type: string
      - name: return_only
        in: query
        description: "restricts the results return.  regions will only return states, provinces, and countries.  cities will only return cities and postals.  The default is to return both cities and regions in the results."
        required: false
        type: string
        enum:
        - cities
        - regions
      - name: requesting_page
        in: query
        description: Specify the page that is calling this endpoint.
        required: false
        type: string
        enum:
        - mileage_calculator
        - freight_rates
      - name: limit
        in: query
        description: The number of records to return.   Limit 1 has a special property where it will only return a high confidence match so it may return zero results if no match found.
        required: false
        type: number
        default: 100.0
        maximum: 100
        minimum: 1
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/autocomplete_response'
    x-restlet:
      section: LOCATIONS
  /locations/reverse_geocode:
    get:
      tags:
      - locations
      summary: reverse_geocode
      description: returns the nearest city to a lat/lon point. (reverse geocode)
      parameters:
      - name: latitude
        in: query
        required: true
        type: number
        format: float
      - name: longitude
        in: query
        required: true
        type: number
        format: float
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/reverse_geocode_response'
    x-restlet:
      section: LOCATIONS
  /mobile_updates:
    get:
      tags:
      - mobile update
      summary: STAGE=Private Get any available update information.
      parameters:
      - name: email_address
        in: query
        required: false
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            type: object
            required:
            - bullet_points
            - information_url
            - message
            - title
            - update_url
            properties:
              bullet_points:
                type: array
                items:
                  type: string
                  default: "[]"
              information_url:
                type: string
                default: "null"
              message:
                type: string
                default: "null"
              title:
                type: string
                default: "null"
              update_url:
                type: string
                default: "null"
    x-restlet:
      section: Mobile Update
  /optins:
    get:
      tags:
      - optins
      summary: STAGE=UNK Get the optin status of a user.
      parameters:
      - name: notification_medium
        in: query
        description: To limit your list to just one medium.
        required: false
        type: string
        enum:
        - email
        - text
        - push
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            type: object
            required:
            - list
            properties:
              list:
                type: array
                items:
                  type: object
                  properties:
                    notification_channel:
                      type: string
                      default: all
                    notification_medium:
                      type: string
                      enum:
                      - email
                      - text
                      - push
                    status:
                      type: string
                      enum:
                      - optin
                      - optout
                      - no response
                      - no record
                  required:
                  - notification_channel
                  - notification_medium
                  - status
    post:
      tags:
      - optins
      summary: STAGE=UNK Submit a request to be opted in.
      description: "Currently only Push notifications are implemented. With them a post creates and approves the optin. Later on when text/email is ported post will create the optin with the status of 'no response' meaning they haven't replied with the propper code, or clicked an authorization link."
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - notification_medium
          properties:
            notification_channel:
              type: string
              description: "Currently defaults to all, and is ignored. When we start using it it will be for opting people out or in one list like alerts, or messages, but not others."
              default: all
            notification_medium:
              type: string
              description: We currently only accept push
              enum:
              - email
              - text
              - push
            tokens:
              type: object
              example: "\"tokens\": { \"ios\": \"12345678\", \"android\": \"5432344\" } "
              description: "This is how you can add multiple push notifications at once, or for systems that have multiple tokens required."
              properties:
                $SERVICE_OR_KEY_NAME:
                  type: string
                  description: "Fill in the key in the value, and the service in the name. Look at our examples for clarification."
              required:
              - $SERVICE_OR_KEY_NAME
      responses:
        "201":
          description: Status 201
    delete:
      tags:
      - optins
      summary: STAGE=UNK Opt someone out of one or more mediums and channels.
      description: By only sending in their EUA token you would be requesting to opt them out of everything.
      parameters:
      - name: notification_medium
        in: query
        required: false
        type: string
        enum:
        - email
        - text
        - push
      - name: notification_channel
        in: query
        description: This would allow granular optouts. Currently ignored.
        required: false
        type: string
        default: all
        enum:
        - all
        - alerts
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Status 204
    patch:
      tags:
      - optins
      summary: STAGE=UNK Confirm an optin.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - notification_medium
          - verification_code
          properties:
            notification_medium:
              type: string
              enum:
              - email
              - text
            verification_code:
              type: string
              description: "This code is generated on a POST, and will arrive via the same medium it was designated for."
      responses:
        "204":
          description: Status 204
    x-restlet:
      section: Optins
  /optins/web_push:
    get:
      tags:
      - optins
      summary: STAGE=UNK Check if a users player_id is subscribed to web push notifications.
      parameters:
      - name: player_id
        in: query
        description: The OneSignal player_id as returned by them when a user subscribes. If this parameter is not provided the API will return true if the User has any player_id subscribed.
        required: false
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            type: object
            properties:
              subscribed:
                type: boolean
    post:
      tags:
      - optins
      summary: STAGE=UNK Register a OneSignal player_id in the DirectFreight database.
      description: Register a OneSignal player_id in DirectFreight for web push notifications.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - player_id
          properties:
            player_id:
              type: string
              description: The OneSignal player_id as returned by them when a user subscribes.
              default: all
      responses:
        "202":
          description: Accepted
          schema:
            type: object
            properties:
              subscribed:
                type: boolean
    delete:
      tags:
      - optins
      summary: STAGE=UNK Opt someone out of web push notifications.
      description: Opt Out of web push notifications.
      parameters:
      - name: player_id
        in: query
        description: the onesignal player_id as returned by them when a user subscribes.
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Status 204
    x-restlet:
      section: Optins
  /optins/load_alert_sound:
    get:
      tags:
      - optins
      summary: STAGE=UNK Check if a user has enabled audio notifications on the web for new load alerts.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            type: object
            properties:
              enabled:
                type: boolean
    patch:
      tags:
      - optins
      summary: STAGE=UNK Toggles audio notifications for web new load load alerts.
      description: Toggle audio notifications.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - enabled
          properties:
            enabled:
              type: boolean
              description: true/false
      responses:
        "204":
          description: Status 204
    x-restlet:
      section: Optins
  /postings/{posting_type}:
    get:
      tags:
      - postings
      summary: Retrieve multiple postings
      description: "Retrieves a list of the users posted loads or trucks. By default it retrieves all of their entries. If you specifiy multiple ids, only 100 entries can be retrieved per request."
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: posting_id
        in: query
        description: To retrieve only a subset of entries owned by the user specify one or more posting_id(s) or custom_id(s).
        required: false
        type: array
        items:
          type: integer
        collectionFormat: multi
        x-example: ?posting_id=22&posting_id=23&posting_id=24
      - name: custom_id
        in: query
        description: To retrieve only a subset of entries owned by the user specify one or more posting_id(s) or custom_id(s).
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        x-example: ?custom_id=cats&custom_id=dogs&custom_id=parrots
      - name: department_id
        in: query
        description: "Only get loads from these department IDs. department_id can also be \"all\", to get loads of all departments under your main account. If no deparment_id is specified, the default is to return just the logged in users' postings."
        required: false
        type: array
        items:
          type: integer
        collectionFormat: multi
        x-example: ?department_id=22&department_id=23&department_id=24 or department_id=all
      - name: whoentered
        in: query
        description: STAGE=PRIVATE Internal use only.  Retrieves all postings that match the specified whoentered.
        required: false
        type: string
        x-example: ?whoentered=ZZZ
      - name: sort_parameter
        in: query
        description: Sort results by a certain field.
        required: false
        type: string
        x-example: ?sort_parameter=origin_city
        enum:
        - origin_city
        - origin_state
        - destination_city
        - destination_state
        - trailer_type
        - load_size
        - ship_date
        - receive_date
        - comment
      - name: page_number
        in: query
        description: The page you want to return. Will return an empty board on an invalid page.
        required: false
        type: integer
        x-example: ?page_number=2
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/posting_post_response'
    post:
      tags:
      - postings
      summary: Create multiple postings
      description: Only 100 entries can be created per request.
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - list
          properties:
            list:
              type: array
              items:
                $ref: '#/definitions/postings_entry_object'
              maxItems: 100
      responses:
        "202":
          description: Loads accepted. Check the response for an ordered list of response.
          schema:
            $ref: '#/definitions/postings-post_or_patch_response'
    delete:
      tags:
      - postings
      summary: Remove multiple postings
      description: "Will delete one or more entries. Unless the delete_all parameter is set, only 100 entries can be removed per request."
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: posting_id
        in: query
        description: "This parameter will be ignored if delete_all is specified, otherwise posting_id or custom_id must be specified. The 100 maximum is split between posting_id & custom_id."
        required: false
        type: integer
        x-example: ?posting_id=22&posting_id=23&posting_id=24
      - name: custom_id
        in: query
        description: "You must specify which entry to remove. Will be ignored if delete_all is specified, otherwise it or posting_id must be specified. The 100 maximum is split between posting_id & custom_id."
        required: false
        type: string
        x-example: ?custom_id=cats&custom_id=dogs&custom_id=parrots
      - name: delete_all
        in: query
        description: "If included and true, will delete all loads for the logged in user."
        required: false
        type: boolean
        x-example: ?delete_all=true
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: success operation
    patch:
      tags:
      - postings
      summary: Update multiple postings
      description: Update one or more entries. Only 100 entries can be updated per request.
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - list
          properties:
            list:
              type: array
              items:
                $ref: '#/definitions/postings_patch_object'
              maxItems: 100
      responses:
        "202":
          description: Status 202
          schema:
            type: object
            required:
            - list
            properties:
              list:
                $ref: '#/definitions/postings-post_or_patch_response'
    x-restlet:
      section: POSTINGS
  /postings/{posting_type}/{action}:
    post:
      tags:
      - postings
      summary: STAGE=PRIVATE Copy or Move a posting.
      parameters:
      - name: posting_type
        in: path
        description: Where items are being moved or copied to.
        required: true
        type: string
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - olp_network
      - name: action
        in: path
        description: Specified in the url.
        required: true
        type: string
        enum:
        - copy
        - move
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/post_posting_type_action_body'
      responses:
        "201":
          description: Success
          schema:
            $ref: '#/definitions/postings-copy_or_move_response'
    x-restlet:
      section: POSTINGS
  /postings/{posting_type}/replace_all:
    post:
      tags:
      - postings
      summary: replace_all
      description: "delete and replace all entries in posting_type with the entries in {posting_type}_temp.  For example, if posting_type=loads, then source posting_type is loads_temp."
      parameters:
      - name: posting_type
        in: path
        required: true
        type: string
        enum:
        - loads
        - trucks
        - test_loads
        - test_trucks
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: return_details
        in: query
        description: "If this option is specified and its value is positive, this endpoint will additionaly return the total count of items inserted and deleted, it will also return an erray of the md5sums that were moved."
        required: false
        type: boolean
      responses:
        "202":
          description: Success
          schema:
            $ref: '#/definitions/postings-replace_all_response'
    x-restlet:
      section: POSTINGS
  /postings/custom_fields/names/:
    get:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Get a list of all defined custom fields/columns.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_custom_fields_name_response'
    post:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Create new custom field/column.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_custom_field'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Delete a custom column/field
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: field_name
        in: query
        description: column/field that you want deleted
        required: true
        type: string
      responses:
        "204":
          description: No Content
    patch:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Rename a custom field/column.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rename_custom_field'
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: POSTINGS/CUSTOM_FIELDS
  /postings/custom_fields/data/{posting_type}:
    get:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Get data for a custom field.
      parameters:
      - name: posting_id
        in: query
        description: the posting_ids associated with the data you want to get.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        x-example: ?posting_id=22&posting_id=23&posting_id=24
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_custom_fields_data_response'
    post:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK add new data.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_custom_field_data'
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Delete data from a custom field.
      parameters:
      - name: field_name
        in: query
        description: the field_name associated with the data you want deleted.
        required: true
        type: string
      - name: posting_id
        in: query
        description: the posting_id associated with the data you want deleted.
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "204":
          description: No Content
    patch:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Update custom field data.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_custom_field_data'
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: POSTINGS/CUSTOM_FIELDS
  /profiles:
    get:
      tags:
      - profiles
      summary: Request the logged in user's profile.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/profile_object'
    post:
      tags:
      - profiles
      summary: Create a new profile.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/profile_object'
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/profile_object_patch'
    delete:
      tags:
      - profiles
      summary: STAGE=UNK Delete the profile.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: success operation
    patch:
      tags:
      - profiles
      summary: Update profile information.
      description: Please send in at least one field to be updated.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/profile_object_patch'
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/profile_object_patch'
    x-restlet:
      section: PROFILES
  /profiles/truck_info:
    get:
      tags:
      - profiles
      summary: Request the logged in user's truck info. STAGE=Private
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/truck_info_object'
    patch:
      tags:
      - profiles
      summary: Update truck information. STAGE=Private
      description: Please send in at least one field to be updated.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/truck_info_object'
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/truck_info_object'
    x-restlet:
      section: PROFILES
  /profiles/fmcsa:
    get:
      tags:
      - profiles
      summary: STAGE=PRIVATE Returns the FMCSA information of this profiles' DOT number.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/fmcsa_profile_object'
    x-restlet:
      section: PROFILES
  /profiles/fmcsa/verification:
    get:
      tags:
      - profiles
      summary: STAGE=PRIVATE Checks if the logged in user is FMCSA verified.
      description: STAGE=PRIVATE Checks if the logged in user is FMCSA verified.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            properties:
              last_verification_date:
                type: string
              status:
                type: boolean
              verified_via:
                type: string
    x-restlet:
      section: PROFILES
  /profiles/fmcsa/verification/send:
    get:
      tags:
      - profiles
      summary: STAGE=PRIVATE Sends FMCSA verification challenge
      description: STAGE=PRIVATE Sends a verification challenge to the email or phone number associated with this FMCSA Dot number.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: method
        in: query
        description: "Must be one of: email, call or text."
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            properties:
              message:
                type: string
    x-restlet:
      section: PROFILES
  /profiles/fmcsa/verification/check:
    get:
      tags:
      - profiles
      summary: STAGE=PRIVATE Checks FMCSA verification challenge
      description: STAGE=PRIVATE Checks a verification code challenge.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: code
        in: query
        description: 6 Digit verification code.
        required: true
        type: number
      responses:
        "200":
          description: successful operation
          schema:
            properties:
              message:
                type: string
    x-restlet:
      section: PROFILES
  /profiles/documents:
    get:
      tags:
      - profiles
      summary: STAGE=UNK Retrieve documents
      description: Retrieve documents
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: success
    post:
      tags:
      - profiles
      summary: STAGE=UNK Upload a new document.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/upload_document'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - profiles
      summary: STAGE=UNK Delete the document.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: success operation
    patch:
      tags:
      - profiles
      summary: STAGE=UNK Rename a document.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rename_document'
      responses:
        "204":
          description: success
    x-restlet:
      section: PROFILES
  /validations/email_exists:
    get:
      tags:
      - validations
      summary: STAGE=UNK Check if an e-mail exists.
      description: Enter an e-mail to see if it is available. Can be used as ?email=xxx or as a JSON request.
      parameters:
      - name: email
        in: query
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_email_exists_response'
    x-restlet:
      section: VALIDATIONS
  /validations/trailers:
    get:
      tags:
      - validations
      summary: STAGE=PRIVATE-LIVE Find an official type to match to the customer submitted one.
      parameters:
      - name: customer_type
        in: query
        description: The custom type that the poster is trying to submit.
        required: true
        type: string
        x-example: FLAT53
      - name: partner
        in: query
        required: false
        type: string
        x-example: parade
      - name: end-user-token
        in: header
        description: "We assume only posters will be using this endpoint. We will use their end-user-token to match for a customer specific match first, and fall back to a general one if it doesn't exist."
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            type: object
            required:
            - trailer_type
            properties:
              trailer_type:
                $ref: '#/definitions/trailer_type'
              comment:
                type: string
                description: the public comment that should be attached to the load being entered.
              other_trailer_type:
                type: string
                description: what should be put in the other_trailer_types field when posting the load.
    x-restlet:
      section: VALIDATIONS
  /webhooks/apple_appstore_notification:
    post:
      tags:
      - webhooks
      summary: Save the apple notification to mysql  STAGE=private
      description: Save the apple notification to mysql  STAGE=private
      parameters: []
      responses:
        "200":
          description: successful operation
    x-restlet:
      section: WEBHOOKS
  /webhooks/google_playstore_notification:
    post:
      tags:
      - webhooks
      summary: Save the google notification to mysql  STAGE=private
      description: Save the google notification to mysql  STAGE=private
      parameters: []
      responses:
        "200":
          description: successful operation
    x-restlet:
      section: WEBHOOKS
securityDefinitions:
  api-token:
    type: apiKey
    name: api-token
    in: header
definitions:
  alert_list:
    type: object
    properties:
      alerts:
        type: array
        items:
          $ref: '#/definitions/alert_response_item'
    description: "A hash containing a list of objects. Each entry should have 1 alert object, and 1 search object, and 2 integer counts. One for the number of new loads, and one for the number of total loads that match the search critera."
    example: |-
      {
        "alerts": [
          "{}",
          "{}"
        ]
      }
    x-restlet:
      section: ALERTS
  alert:
    type: object
    required:
    - days_of_week
    - end_hour
    - expires_after
    - list_type
    - minute_frequency
    - search
    - send_type
    - start_hour
    - time_zone
    properties:
      alert_id:
        type: integer
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation."
      days_of_week:
        type: array
        description: Limit the days that alerts are sent to the days listed.
        items:
          type: string
          enum:
          - Sun
          - Mon
          - Tue
          - Wed
          - Thu
          - Fri
          - Sat
      end_hour:
        type: integer
        description: A  corresponding to the hour of the day. (This field will accept 23 however there is a known logic issue for values over 21 with time zone set to 2)
        minimum: 3
        maximum: 23
      expires_after:
        type: string
        format: date time
        example: 2020-01-01 14:30:24
        description: The last day and time the alert will be valid. Valid time frames are from today until one year into the future.  This field will accept date only or a date and time.  If the date only is submitted the time will default to 23:59:59
      item_count:
        type: integer
        example: 25
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation."
        minimum: 1
        maximum: 100
      list_type:
        type: string
        description: "This specify the type of list that is returned, including disabling the list from being sent at all. Valid values are 'complete-list','only-new', 'only-new-free' and 'not-active'."
        enum:
        - complete-list
        - only-new
        - only-new-free
        - not-active
      minute_frequency:
        type: integer
        description: "How many minutes to wait before sending another alert. Valid values are '15','30','60','120','240','480', and '1440'."
      page_number:
        type: integer
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation."
        minimum: 1
      return_count:
        type: boolean
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation. "
      search:
        type: object
        description: Refer to the boards documentation for the full list of restrictions for each field.
        properties:
          destination_city:
            type: string
          destination_radius:
            type: integer
          destination_state:
            type: array
            items:
              type: string
          full_load:
            type: boolean
          origin_city:
            type: string
          origin_radius:
            type: integer
          origin_state:
            type: array
            items:
              type: string
          return_only:
            type: string
            description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation. "
          ship_date:
            type: array
            items:
              type: string
              format: date
          sort_parameter:
            type: string
          tier:
            type: string
            description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation. "
          trailer_type:
            type: array
            items:
              type: string
      send_type:
        type: string
        description: What method to send the alert list.
        enum:
        - email
        - text
        - push
        - desktop
      start_hour:
        type: integer
        description: A  corresponding to the hour of the day.  (This field will accept 23 however there is a known logic issue for values over 21 with time zone set to 2)
        minimum: 3
        maximum: 23
      time_zone:
        type: integer
        description: "A number between -1 and 2. -1 = EST, 0 = CST, 1 = MST, 2 = PST"
        minimum: -1
        maximum: 2
    x-restlet:
      section: ALERTS
  alert_response_item:
    type: object
    required:
    - days_of_week
    - end_hour
    - expires_after
    - list_type
    - minute_frequency
    - search
    - send_type
    - start_hour
    - time_zone
    properties:
      alert_active:
        type: boolean
        description: Identifies whether an alert meets the criteria to send notifications by one of the notification methods.  Alert activation is  primarily controlled by the datetime field expires_after.  This field is a convenience method to eliminate the need to determine the users time zone and verify server time.
      alert_id:
        type: integer
        description: The ID of the alert
      days_of_week:
        type: array
        description: Limit the days that alerts are sent to the days listed.
        items:
          type: string
          enum:
          - Sun
          - Mon
          - Tue
          - Wed
          - Thu
          - Fri
          - Sat
      end_hour:
        type: integer
        description: A  corresponding to the hour of the day.
        minimum: 3
        maximum: 21
      expires_after:
        type: string
        format: date
        example: 2019-12-30
        description: The last day the alert will be valid. Valid time frames are from today until one year into the future.
      last_modified:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The last time this alert was modified.
      last_search:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The last time this alert was used in a boards request.
      last_sent:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The last time this alert was sent.
      list_type:
        type: string
        description: "This specify the type of list that is returned, including disabling the list from being sent at all. Valid values are 'complete-list','only-new', 'only-new-free' and 'not-active'."
        enum:
        - complete-list
        - only-new
        - only-new-free
        - not-active
      minute_frequency:
        type: integer
        description: "How many minutes to wait before sending another alert. Valid values are '15','30','60','120','240','480', and '1440'."
      previous_search:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The second to last time this alert was used in a boards request.
      search:
        type: object
        description: Refer to the boards documentation for the full list of restrictions for each field.
        properties:
          destination_city:
            type: string
          destination_radius:
            type: integer
          destination_state:
            type: array
            items:
              type: string
          full_load:
            type: boolean
          origin_city:
            type: string
          origin_radius:
            type: integer
          origin_state:
            type: array
            items:
              type: string
          search_id:
            type: integer
          search_type:
            type: string
          ship_date:
            type: array
            items:
              type: string
              format: date
          sort_parameter:
            type: string
          trailer_type:
            type: array
            items:
              type: string
      send_type:
        type: string
        description: What method to send the alert list.
        enum:
        - email
        - text
        - push
        - desktop
      start_hour:
        type: integer
        description: A  corresponding to the hour of the day.
        minimum: 3
        maximum: 21
      time_zone:
        type: integer
        description: "A number between -1 and 2. -1 = EST, 0 = CST, 1 = MST, 2 = PST"
        minimum: -1
        maximum: 2
      user_id:
        type: integer
        description: The ID of the user
    x-restlet:
      section: ALERTS
  autocomplete_response:
    type: object
    required:
    - record_type
    - region_code
    - region_name
    properties:
      city:
        type: string
        description: The name of the city.  Only returned if record_type is city or postal
      postal_code:
        type: string
        description: The postal code of the city.  Only returned if match type is postal.
      record_type:
        type: string
        enum:
        - country
        - state
        - province
        - city
        - postal
      region_code:
        type: string
      region_name:
        type: string
    example: |-
      {
        "city": "city",
        "state_abbreviation": "{}",
        "state_name": "{}"
      }
    x-restlet:
      section: LOCATIONS
  sub_account_response:
    type: object
    properties:
      sub_accounts:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: The ID of the additional user.
            status:
              type: string
              description: The status of the sub-account.
            contact_name:
              type: string
            dispatch_number:
              type: string
            mc_number:
              type: string
            dot_number:
              type: string
            username:
              type: string
            email:
              type: string
            department_id:
              type: integer
            department_name:
              type: string
      subscriptions_purchased:
        type: integer
        description: Number of licenses purchased.
      active_sub_accounts:
        type: integer
        description: Number of licenses used.
    example: |-
      {
        "sub_accounts": [
          {
            "id": 1234,
            "status": "invited",
            "contact_name": "...",
            "dispatch_number": "(123) 123-4567",
            "mc_number": "12312312",
            "dot_number": "45645645",
            "username": "...",
            "email": "user@domain.com",
            "department_id": 5,
            "department_name": "West Coast"
          }
        ],
        "subscriptions_purchased": 5,
        "active_sub_accounts": 3
      }
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  departments_response:
    type: object
    properties:
      departments:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: The ID of the department.
            name:
              type: string
              description: The name of the department.
    example: |-
      {
          "departments": [
              {
                  "id": 8,
                  "name": "West Coast"
              }
          ]
      }
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  department_users_response:
    type: object
    properties:
      sub_accounts:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              description: The ID of the department user.
            access_level:
              type: string
              description: The access_level of the user.
            contact_name:
              type: string
            dispatch_number:
              type: string
            mc_number:
              type: string
            dot_number:
              type: string
            username:
              type: string
            email:
              type: string
    example: |-
      {
        "department_users": [
          {
            "id": 1234,
            "access_level": "read-only",
            "contact_name": "...",
            "dispatch_number": "(123) 123-4567",
            "mc_number": "12312312",
            "dot_number": "45645645",
            "username": "...",
            "email": "user@domain.com"
          }
        ]
      }
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  board_request:
    type: object
    properties:
      alert_id:
        type: integer
        example: 1155
        description: "By specifying an alert_id we will record the loads or trucks seen by this user, and associate it with their alert.   See /alerts documentation for more information on setting up alerts."
        x-example: undefined
      company_name:
        type: string
        description: Search only for loads posted by this company. STAGE=Private
      destination_city:
        type: string
        example: chicago
        description: "If used, this field must be accompanied by a destination_state."
        minLength: 2
      destination_radius:
        type: integer
        example: 100
        description: "If both the destination city and state are specified, this field will limit the search to results to within # miles of the specified destination city.   If this field is omitted during a search that includes a destination city a default value of 30 miles will be used."
        minimum: 1
        maximum: 300
      destination_state:
        type: array
        example:
        - IL
        - HI
        - NY
        - KS
        - TX
        - MO
        - AL
        description: "If the destination_city field is is used, this field should contain the state for that city.  For searches without a specified destination_city this field may contain an array list of state abbreviations."
        items:
          type: string
          minLength: 2
          maxLength: 2
      full_load:
        type: boolean
        example: true
        description: This is only valid when requesting a loads board. Omitting this field will return both full and partial loads. A true value will limit results to full loads only.  False will return partial loads only.
      item_count:
        type: integer
        example: 25
        description: This argument adjusts how many items per page will be returned.  Omitting this field will return the default of 50 items per page
        minimum: 1
        maximum: 100
      md5:
        type: string
        example: 850FBE52A5345119FD9C79FDE4E27308
        description: Return only this specific MD5 ID. STAGE=Private  DEPRECATED DO NOT USE
      origin_city:
        type: string
        example: Kansas City
        description: "If used, this field must be accompanied by an origin_state."
        minLength: 2
      origin_radius:
        type: integer
        example: 150
        description: "If both the origin city and state are specified, this field will limit the search to results to within # miles of the specified origin city. If this field is omitted during a search that includes an origin city a default value of 25 miles will be used."
        minimum: 1
        maximum: 300
      origin_state:
        type: array
        example:
        - MO
        - IL
        - TX
        - CA
        description: "If the origin_city field is is used, this field should contain the state for that city. For searches without a specified origin_city this field may contain an array list of state abbreviations."
        items:
          type: string
          minLength: 2
          maxLength: 2
      min_weight:
        type: integer
        example: 1000
        description: Return items that weight at least this much.
      max_weight:
        type: integer
        example: 40000
        description: Return items that weight less than this.
      min_length:
        type: integer
        example: 15
        description: Return items at least this long.
      max_length:
        type: integer
        example: 300
        description: Return items no longer than this.
      min_pay_rate:
        type: integer
        example: 50
        description: Return items that pay at least this amount.
      max_pay_rate:
        type: integer
        example: 300
        description: Return items that pay at most this amount.
      min_age:
        type: integer
        example: 50
        description: Return items that are at least this many minutes old.
      max_age:
        type: integer
        example: 300
        description: Return items that are at most this many minutes old.
      page_number:
        type: integer
        description: The page you want to return. Will return an empty board on an invalid page.
        minimum: 1
      return_count:
        type: boolean
        description: If included this will return a total count instead of a list.
      return_web_url:
        type: boolean
        description: If included this will return a "search_url" property that has a URL that can be used to perform this same search on the DirectFreight Website.
      partner:
        type: string
        description: Used to customize API response for integration partners. This field should only be used in coordination with developers at Direct Freight Services
      return_only:
        type: string
        description: |-
          STAGE=PRIVATE  This field is an additional filter that limits the boards response for attributes that are not defined by the load record. Currently the following attributes are valid for this field.

          unviewed-loads that have not been viewed by the user (Loads will continue to be returned by boards as unviewed until a GET is requested from the alerts endpoint.  Requesting the alerts resets the timestamp for determining when a load is new to the time of the last search).

          unsent-Loads that have not been sent to or viewed by a user.

          newtag- Loads that are given a new tag.  The new tag is only given to loads that are new since the previous search if the 2 searches are both done in the same day.
        enum:
        - unviewed
        - unsent
        - newtag
      google_recaptcha_score:
        type: number
        description: "STAGE=PRIVATE Google ReCAPTCHA score, for logging purposes. This field is optional. Should be a decimal number between 0 and 1."
      tier:
        type: string
        description: "STAGE=PRIVATE  DEPRECATED  This field is an optional filter that limits board response to 'free' or 'premium' loads. If this field is not specified it defaults to 'all' loads.\nfree loads - are loads that are more than 2 hours old. contact information and comments are visible even if this request comes from an unsubscribed account.\npremium loads - loads that are less than 2 hours old. contact information and comments are only visible for premium accounts.   "
        enum:
        - all
        - free
        - premium
      ship_date:
        type: array
        description: Limits results to specified ship date(s).
        items:
          type: string
          format: date
          description: Please use the YYYY-MM-DD format.
      sort_parameter:
        type: string
        example: age
        description: The system automatically chooses the most common order based on the parameter chosen.  Sort order can be specified by using the "sort_direction" parameter.
        default: age
        enum:
        - origin_city
        - origin_state
        - destination_city
        - destination_state
        - trailer_type
        - load_size
        - pay_rate
        - rate_per_mile_est
        - credit_score
        - age
        - trip_miles
        - dead_head
        - length
        - weight
        - company_name
        - ship_date
        - receive_date
        - tia_user
        - green_light
        - new
        - book_now
        - avg_market_rate
      sort_direction:
        type: string
        example: asc
        description: The system automatically chooses the most common order based on the parameter chosen. Use this option if you want a specific sort direction.
        default: asc
        enum:
        - asc
        - desc
      trailer_type:
        type: array
        example:
        - F
        - F+T
        - F+S
        - V
        description: 'A string array of valid trailer types to limit the search. '
        items:
          type: string
          enum:
          - V
          - VINT
          - SD
          - MX
          - HS
          - AC
          - LB
          - F+T
          - F
          - FINT
          - DD
          - V+V
          - V+A
          - CRG
          - HB
          - LA
          - PO
          - R
          - RINT
          - RGN
          - CV
          - DT
          - TNK
          - F+S
          - PNEU
          - CONT
          - OTHER
    example:
      destination_city: chicago
      destination_radius: 300
      destination_state:
      - IL
      full_load: true
      origin_city: Kansas City
      origin_radius: 300
      origin_state:
      - MO
      page_number: 1
      ship_date:
      - 2020-05-06
      sort_parameter: age
      sort_direction: asc
      trailer_type:
      - V
      - R
      min_weight: 1000
      max_weight: 40000
      min_length: 15
      max_length: 300
      min_pay_rate: 50
      max_pay_rate: 200
      min_age: 50
      max_age: 2000
      google_recaptcha_score: 0.7
    x-restlet:
      section: BOARDS
  board_response_item:
    type: object
    required:
    - age
    - credit_score
    - dead_head
    - destination_city
    - destination_state
    - entry_id
    - full_load
    - green_light
    - height
    - length
    - origin_city
    - origin_state
    - pay_rate
    - receive_date
    - ship_date
    - trailer_type
    - trip_miles
    - weight
    - width
    properties:
      avg_market_rate:
        type: string
[...]
