---
swagger: "2.0"
info:
  description: "In order to use the Direct Freight API please first contact us to get an API Token. \nThis token needs to be sent as a HTTP header argument in every request to our API.\n\napi-token=\"SECRET KEY\"\n\nPlease keep your api-token a secret. If the token is compromised please contact us to get a new one.\n\nThis api token authenticates your application and gives it access to the API.\n\nThe API token should not be confused with the end-user-token. \nThe end-user-token is given to you via the end_user_authentications endpoint when the user logs in. \nThe end-user-token is needed in order to use certain features, and get certain sensitive information.\n\nBoth Tokens are stateless, and delivered via the HTTP headers.\nThe api token is a permanent token assigned to each partner.\nThe user token is a temporary session token assigned to each direct freight user.\nThe user token can be valid for up to 24 hours depending on activity."
  version: "1.0"
  title: Direct Freight API
  contact: {}
  x-logo:
    url: https://www.directfreight.com/home/images/logo-direct-freight.png
host: api.directfreight.com
basePath: /v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- api-token: []
paths:
  /alerts/{board_type}:
    get:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Retrieve alerts.
      description: Get a list of alerts. You can optionally limit the list by specifcying alerts by their alert_id. Returns 50 alerts by default.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: alert_id
        in: query
        description: only get a subset of alerts. As this is a get request this is specified as a query string parameter.
        required: false
        type: array
        items:
          type: integer
        collectionFormat: multi
      - name: page_number
        in: query
        description: "Page number to fetch, defaults to 1"
        required: false
        type: integer
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: On success will return a list of alerts.
          schema:
            $ref: '#/definitions/alert_list'
    post:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Create an alert.
      description: "This method will update or create an alert. The POST action with the same search parameters but different alert parameters will update the existing alert. The one caveaut to this is send_type. You can have 2 alerts with the same search parameters but different send_types. Any parameter that is defined here and is also defined on the boards POST action, follows the same rules."
      consumes: []
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/alert'
      responses:
        "201":
          description: Object created check the headers for a reference URL
          schema:
            $ref: '#/definitions/create_status_alert'
    delete:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Delete an alert.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: alert_id
        in: query
        description: Specify to just delete some alerts.
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: successful operation
    patch:
      tags:
      - alerts
      summary: STAGE=UNK Update an alert.
      description: Search objects are set at creation. You cannot modify them after the alert has been created.
      consumes: []
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/patch_alert_properties'
      responses:
        "204":
          description: Returned on response.
    x-restlet:
      section: ALERTS
  /alerts/search/{board_type}:
    post:
      tags:
      - alerts
      summary: STAGE=UNKNOWN Create an alert.
      description: "This method will search a users alert. It accepts the exact same structure as the POST method for /alerts/. Any parameter that is defined here and is also defined on the boards POST action, follows the same rules."
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/alert'
      - name: board_type
        in: path
        required: true
        type: string
      responses:
        "200":
          description: "Alert found, returns the alert_id that corresponds to the search."
          schema:
            $ref: '#/definitions/alert_search_response'
        "404":
          description: Alert not found using specified parameters.
    x-restlet:
      section: ALERTS
  /boards/{board_type}:
    get:
      tags:
      - boards
      summary: Retrieve single load STAGE=UNK
      description: Retrieves single load
      parameters:
      - name: board_type
        in: path
        description: Defines the type of board requested.
        required: true
        type: string
        x-example: loads
        enum:
        - loads
        - trucks
      - name: entry_id
        in: query
        description: the entry_id associated with the data you want to get.
        required: false
        type: string
        x-example: ?entry_id=22ef23
      - name: booking_action
        in: query
        description: optional.
        required: false
        type: string
        enum:
        - submit_quote
        - request_booking
        - finalize_booking
        - none
      - name: offer_reference_code
        in: query
        description: "Required if booking_action=finalize_booking, returned when /boards/loads is used with booking_action=request_booking."
        required: false
        type: string
      - name: reference_id
        in: query
        description: "Required if booking_action=submit_quote, returned when /boards/loads is used with booking_action=request_booking."
        required: false
        type: string
      - name: company_external_key
        in: query
        description: "Required if booking_action=submit_quote, returned when /boards/loads is used with booking_action=request_booking."
        required: false
        type: string
      - name: quote_amount
        in: query
        description: "Required if booking_action=submit_quote, the amount offered to transport this load."
        required: false
        type: number
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/single_load_response'
    post:
      tags:
      - boards
      summary: Retrieve a board
      description: This is the primary search method for loads and trucks. Please specifify at least an origin or destination.  The origin or destination may be state only.
      consumes: []
      parameters:
      - name: board_type
        in: path
        description: Defines the type of board requested.
        required: true
        type: string
        x-example: loads
        enum:
        - loads
        - trucks
      - name: end-user-token
        in: header
        required: false
        type: string
        default: 01234567890abc
        x-example: 01234567890abc
      - name: x-dont-update-user-last-date
        in: header
        description: "If this optional header is sent and set to a positive value, the API will not update the users last_date, this option is used internally when sending email alerts. STAGE=Private"
        required: false
        type: number
        default: 0.0
        x-example: 1.0
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/board_request'
      responses:
        "200":
          description: Returns a list matching your search.
          schema:
            $ref: '#/definitions/board_response'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: BOARDS
  /boards/{board_type}/state_totals:
    get:
      tags:
      - boards
      summary: Totals by state
      description: A convenience method to get totals by state.
      parameters:
      - name: board_type
        in: path
        description: "Valid types are \"loads\", and \"trucks\"."
        required: true
        type: string
        enum:
        - loads
        - trucks
      - name: trailer_type
        in: query
        description: Filter totals to only include these trailer_type's. This parameter can be specified multiple times and the totals are combined. i.e. trailer_type=V&trailer_type=R returns the combined total of all loads that are either V or
        required: false
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_state_list_response'
    x-restlet:
      section: BOARDS
  /boards/hidden_companies:
    get:
      tags:
      - boards
      summary: STAGE=UNK List hidden companies.
      description: Get a list of companies that should be hidden.
      parameters:
      - name: company_name
        in: query
        description: A list of company names to check if any should be visually hidden.  If this field is blank all hidden companies will be returned.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_hidden_companies_response'
    post:
      tags:
      - boards
      summary: STAGE=UNK Hide companies.
      description: Mark a set of companies as hidden.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/mark_hidden_companies'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - boards
      summary: STAGE=UNK Unhide companies
      description: Mark a company as not hidden.
      parameters:
      - name: company_name
        in: query
        description: The company that need to be marked as not hidden.
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: No content
    patch:
      tags:
      - boards
      summary: STAGE=UNK Change hidden status
      description: Toggle one  company between hidden and unhidden.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/toggle_hidden_companies'
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: BOARDS
  /boards/hidden_entries:
    get:
      tags:
      - boards
      summary: STAGE=UNK List hidden entries.
      description: Get a list of entries that should be hidden.
      parameters:
      - name: entry_id
        in: query
        description: A list of id's to check if any should be visually hidden.
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_hidden_entries'
    post:
      tags:
      - boards
      summary: STAGE=private Hide 1 or more postings
      description: Mark an entry as hidden.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/hidden_entry_object'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - boards
      summary: STAGE=private Unhide 1 or more postings
      description: ' Mark an entry as unhidden.'
      parameters:
      - name: entry_id
        in: query
        required: true
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: No Content
    patch:
      tags:
      - boards
      summary: STAGE=UNK Change hidden status
      description: Toggle one or more entries between hidden and unhidden.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/toggle_hidden_entries'
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: BOARDS
  /boards/notes:
    get:
      tags:
      - boards
      summary: STAGE=UNK List user notes.
      description: Get notes that this user has written.
      parameters:
      - name: entry_id
        in: query
        description: 'Optionally just check if certain loads have notes associated with them. '
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_boards_notes_response'
    post:
      tags:
      - boards
      summary: STAGE=UNK Create a note.
      description: Create a new note.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_notes'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/note_create_status'
    delete:
      tags:
      - boards
      summary: STAGE=UNK Delete a note.
      parameters:
      - name: note_id
        in: query
        description: 'The entry to associate the note with. '
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: successful operation
    patch:
      tags:
      - boards
      summary: STAGE=UNK Update a note.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/update_notes'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/update_notes_status'
    x-restlet:
      section: BOARDS
  /boards/profit:
    get:
      tags:
      - boards
      summary: STAGE=Private Get profit data.
      description: Calculate trip profit.
      consumes: []
      parameters:
      - name: origin_city
        in: query
        description: Origin City name
        required: true
        type: string
      - name: origin_state
        in: query
        description: "Origin State, two letter abbreviation"
        required: true
        type: string
      - name: destination_city
        in: query
        description: Destination City name
        required: true
        type: string
      - name: destination_state
        in: query
        description: "Destination State, two letter abbreviation"
        required: true
        type: string
      - name: pay_rate
        in: query
        description: "This field will accept either the per mile rate, or gross rate."
        required: false
        type: number
      - name: deadhead_distance
        in: query
        description: "Total deadhead distance in miles, if this value is provided the response will include the deadhead_cost."
        required: false
        type: number
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Details about the profitability of this trip.
          schema:
            $ref: '#/definitions/boards_profit_response'
    x-restlet:
      section: BOARDS
  /boards/freight_rate:
    get:
      tags:
      - boards
      summary: STAGE=Private Get Freight Rates.
      description: Calculate Freight Rates
      consumes: []
      parameters:
      - name: origin_city
        in: query
        description: Origin City
        required: true
        type: string
      - name: origin_state
        in: query
        description: Origin State
        required: true
        type: string
      - name: destination_city
        in: query
        description: Destination City
        required: true
        type: string
      - name: destination_state
        in: query
        description: Destination State
        required: true
        type: string
      - name: start_date
        in: query
        description: "Start Date. Optional value, must be used in conjunction with end_date. If not specified defaults to yesterday."
        required: false
        type: string
      - name: end_date
        in: query
        description: "End Date. Optional value, must be used in conjunction with start_date. If not specified defaults to yesterday."
        required: false
        type: string
      - name: min_loads
        in: query
        description: "Only include days with at least this many loads, defaults to 10."
        required: false
        type: number
      - name: trailer_type
        in: query
        description: "Trailer Type, defaults to \"all\" if not specied. This option can be specified multiple times."
        required: false
        type: string
        enum:
        - all
        - van
        - reefer
        - flat
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "201":
          description: Details about average rates for this trip. Returns an object where each key is a trailer type with an array of the freight rate for each day that was found for that type.
          schema:
            $ref: '#/definitions/boards_freight_rate_response'
    x-restlet:
      section: BOARDS
  /end_user_authentications/users:
    post:
      tags:
      - end_user_authentications
      summary: Create a new user.
      consumes: []
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/user'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/inline_response_201'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Deletes Logged in User
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Will not return content on a successful logout.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications:
    get:
      tags:
      - end_user_authentications
      summary: Get authentication level.
      description: Get current authentication level for the user.
      parameters:
      - name: end-user-token
        in: header
        required: false
        type: string
      responses:
        "200":
          description: successful operation
          examples:
            application/json: "{status: \"Subscribed\"}"
          schema:
            $ref: '#/definitions/inline_response_200'
    post:
      tags:
      - end_user_authentications
      summary: Login
      description: "This function sends login credentials, and retrieves a stateless token."
      consumes: []
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/login_credentials'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/end-user-token'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    delete:
      tags:
      - end_user_authentications
      summary: Logout
      description: This deletes the logged in users account permanently.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Will not return content on a successful delete.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/dates:
    get:
      tags:
      - end_user_authentications
      summary: Retrieve date
      description: Gets an authoritative date_time string.
      parameters: []
      responses:
        "200":
          description: successful operation
          examples:
            application/json: |-
              {
                "now": "now"
              }
          schema:
            $ref: '#/definitions/inline_response_200_1'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/uuids:
    get:
      tags:
      - end_user_authentications
      summary: Retrieve UUID
      description: Gets user specific UUID.
      parameters: []
      responses:
        "200":
          description: successful operation
          examples:
            application/json: |-
              {
                "uuid": "B542E92E-7359-4096-9382-0D5AD324808D"
              }
          schema:
            $ref: '#/definitions/inline_response_200_2'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/apple_appstore_notification:
    post:
      tags:
      - end_user_authentications
      summary: Save the apple notification to mysql  STAGE=private
      description: Save the apple notification to mysql  STAGE=private
      parameters: []
      responses:
        "200":
          description: successful operation
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/passwords:
    get:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Retrieve password
      description: Request a forgotten password.
      parameters:
      - name: email_address
        in: query
        description: The user e-mail to send a password to if valid.
        required: true
        type: string
      responses:
        "200":
          description: This will return a success only if the e-mail is in our records.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    post:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Restore password.
      description: Creates a new password for a user with a recovery key
      consumes: []
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body'
      responses:
        "201":
          description: Their password was successfuly updated.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    patch:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Update password.
      description: Update a users password.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_1'
      responses:
        "204":
          description: A successful operation.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/auto_login_url:
    get:
      tags:
      - end_user_authentications
      description: Get a auto login url STAGE=Private
      parameters:
      - name: redirect_url
        in: query
        description: "DirectFreight website URI to redirect to after login. Example, {{url}}/v1/end_user_authentications/auto_login_url?redirect_url=/loads/results"
        required: false
        type: string
      responses:
        "201":
          description: Will return a DirectFreight URI that can be used to auto login and redirect.  The URI is valid for 5 minutes.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/email:
    patch:
      tags:
      - end_user_authentications
      summary: STAGE=UNK Update email.
      description: Update a users email address.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_2'
      responses:
        "204":
          description: A successful operation.
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /end_user_authentications/social_login:
    post:
      tags:
      - end_user_authentications
      summary: STAGE=Private Social Login/Create Account
      description: "Logs in or creates a new account for the user based on their email. \"new_account\" is what indicates if a new account was created, or if an existing account was used to login."
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/social_login_credentials'
      responses:
        "201":
          description: successful operation
          schema:
            $ref: '#/definitions/social-login-end-user-token'
        "422":
          description: Unprocessable Entity. More information provided in the return object.
          schema:
            $ref: '#/definitions/error_object'
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  /locations/autocomplete:
    get:
      tags:
      - locations
      summary: autocomplete
      description: "Searches a string of a partial city or state name, and returns a list of possible matches."
      parameters:
      - name: searchtext
        in: query
        description: "City or State or Postal code to search for.   It matches city name and state name and state abbreviation.  So for instance \"MO\" would return Missouri, Montana, and Montreal, QC  while  ME would return Maine, Mexico, and Memphis, TN"
        required: true
        type: string
      - name: return_only
        in: query
        description: "restricts the results return.  regions will only return states, provinces, and countries.  cities will only return cities and postals.  The default is to return both cities and regions in the results."
        required: false
        type: string
        enum:
        - cities
        - regions
      - name: limit
        in: query
        description: The number of records to return.   Limit 1 has a special property where it will only return a high confidence match so it may return zero results if no match found.
        required: false
        type: number
        default: 100.0
        maximum: 100
        minimum: 1
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/autocomplete_response'
    x-restlet:
      section: LOCATIONS
  /locations/reverse_geocode:
    get:
      tags:
      - locations
      summary: reverse_geocode
      description: returns the nearest city to a lat/lon point. (reverse geocode)
      parameters:
      - name: latitude
        in: query
        required: true
        type: number
        format: float
      - name: longitude
        in: query
        required: true
        type: number
        format: float
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/reverse_geocode_response'
    x-restlet:
      section: LOCATIONS
  /mobile_updates:
    get:
      tags:
      - mobile update
      summary: STAGE=Private Get any available update information.
      parameters:
      - name: email_address
        in: query
        required: false
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200_3'
    x-restlet:
      section: Mobile Update
  /optins:
    get:
      tags:
      - optins
      summary: STAGE=UNK Get the optin status of a user.
      parameters:
      - name: notification_medium
        in: query
        description: To limit your list to just one medium.
        required: false
        type: string
        enum:
        - email
        - text
        - push
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200_4'
    post:
      tags:
      - optins
      summary: STAGE=UNK Submit a request to be opted in.
      description: "Currently only Push notifications are implemented. With them a post creates and approves the optin. Later on when text/email is ported post will create the optin with the status of 'no response' meaning they haven't replied with the propper code, or clicked an authorization link."
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_3'
      responses:
        "201":
          description: Status 201
    delete:
      tags:
      - optins
      summary: STAGE=UNK Opt someone out of one or more mediums and channels.
      description: By only sending in their EUA token you would be requesting to opt them out of everything.
      parameters:
      - name: notification_medium
        in: query
        required: false
        type: string
        enum:
        - email
        - text
        - push
      - name: notification_channel
        in: query
        description: This would allow granular optouts. Currently ignored.
        required: false
        type: string
        default: all
        enum:
        - all
        - alerts
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Status 204
    patch:
      tags:
      - optins
      summary: STAGE=UNK Confirm an optin.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_4'
      responses:
        "204":
          description: Status 204
    x-restlet:
      section: Optins
  /optins/web_push:
    get:
      tags:
      - optins
      summary: STAGE=UNK Check if a users player_id is subscribed to web push notifications.
      parameters:
      - name: player_id
        in: query
        description: The OneSignal player_id as returned by them when a user subscribes. If this parameter is not provided the API will return true if the User has any player_id subscribed.
        required: false
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200_5'
    post:
      tags:
      - optins
      summary: STAGE=UNK Register a OneSignal player_id in the DirectFreight database.
      description: Register a OneSignal player_id in DirectFreight for web push notifications.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_5'
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/inline_response_200_5'
    delete:
      tags:
      - optins
      summary: STAGE=UNK Opt someone out of web push notifications.
      description: Opt Out of web push notifications.
      parameters:
      - name: player_id
        in: query
        description: the onesignal player_id as returned by them when a user subscribes.
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: Status 204
    x-restlet:
      section: Optins
  /optins/load_alert_sound:
    get:
      tags:
      - optins
      summary: STAGE=UNK Check if a user has enabled audio notifications on the web for new load alerts.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200_6'
    patch:
      tags:
      - optins
      summary: STAGE=UNK Toggles audio notifications for web new load load alerts.
      description: Toggle audio notifications.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_6'
      responses:
        "204":
          description: Status 204
    x-restlet:
      section: Optins
  /postings/{posting_type}:
    get:
      tags:
      - postings
      summary: Retrieve multiple postings
      description: "Retrieves a list of the users posted loads or trucks. By default it retrieves all of their entries. If you specifiy multiple ids, only 100 entries can be retrieved per request."
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: posting_id
        in: query
        description: the posting_ids associated with the data you want to get.
        required: false
        type: array
        items:
          type: integer
        collectionFormat: multi
        x-example: ?posting_id=22&posting_id=23&posting_id=24
      - name: custom_id
        in: query
        description: To retrieve only a subset of entries.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        x-example: ?custom_id=cats&custom_id=dogs&custom_id=parrots
      - name: sort_parameter
        in: query
        description: Sort results by a certain field.
        required: false
        type: string
        x-example: ?sort_parameter=origin_city
        enum:
        - origin_city
        - origin_state
        - destination_city
        - destination_state
        - trailer_type
        - load_size
        - ship_date
        - receive_date
        - comment
      - name: page_number
        in: query
        description: The page you want to return. Will return an empty board on an invalid page.
        required: false
        type: integer
        x-example: ?page_number=2
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/posting_post_response'
    post:
      tags:
      - postings
      summary: Create multiple postings
      description: Only 100 entries can be created per request.
      consumes: []
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_7'
      responses:
        "202":
          description: Loads accepted. Check the response for an ordered list of response.
          schema:
            $ref: '#/definitions/postings-post_or_patch_response'
    delete:
      tags:
      - postings
      summary: Remove multiple postings
      description: "Will delete one or more entries. Unless the delete_all parameter is set, only 100 entries can be removed per request."
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: posting_id
        in: query
        description: "This parameter will be ignored if delete_all is specified, otherwise posting_id or custom_id must be specified. The 100 maximum is split between posting_id & custom_id."
        required: false
        type: integer
        x-example: ?posting_id=22&posting_id=23&posting_id=24
      - name: custom_id
        in: query
        description: "You must specify which entry to remove. Will be ignored if delete_all is specified, otherwise it or posting_id must be specified. The 100 maximum is split between posting_id & custom_id."
        required: false
        type: string
        x-example: ?custom_id=cats&custom_id=dogs&custom_id=parrots
      - name: delete_all
        in: query
        description: "If included and true, will delete all loads for the logged in user."
        required: false
        type: boolean
        x-example: ?delete_all=true
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: success operation
    patch:
      tags:
      - postings
      summary: Update multiple postings
      description: Update one or more entries. Only 100 entries can be updated per request.
      consumes: []
      parameters:
      - name: posting_type
        in: path
        description: Specifies board you are posting to.
        required: true
        type: string
        x-example: test_loads
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
        - live_loads_temp
        - test_loads_temp
        - live_trucks_temp
        - test_trucks_temp
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/body_8'
      responses:
        "202":
          description: Status 202
          schema:
            $ref: '#/definitions/inline_response_202'
    x-restlet:
      section: POSTINGS
  /postings/{posting_type}/{action}:
    post:
      tags:
      - postings
      summary: STAGE=PRIVATE Copy or Move a posting.
      consumes: []
      parameters:
      - name: posting_type
        in: path
        description: Where items are being moved or copied to.
        required: true
        type: string
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
      - name: action
        in: path
        description: Specified in the url.
        required: true
        type: string
        enum:
        - copy
        - move
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/post_posting_type_action_body'
      responses:
        "201":
          description: Success
          schema:
            $ref: '#/definitions/postings-copy_or_move_response'
    x-restlet:
      section: POSTINGS
  /postings/{posting_type}/replace_all:
    post:
      tags:
      - postings
      summary: STAGE=PRIVATE Delete all/Replace
      consumes: []
      parameters:
      - name: posting_type
        in: path
        description: "Destination where items will be replaced. Depending on the posting_type that is selected, the source posting will be the same but with _temp appended. For example, if posting_type=loads, then source_type is loads_temp."
        required: true
        type: string
        enum:
        - loads
        - trucks
        - test_loads
        - test_trucks
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: return_details
        in: query
        description: "If this option is specified and its value is positive, this endpoint will additionaly return the total count of items inserted and deleted, it will also return an erray of the md5sums that were moved."
        required: false
        type: boolean
      responses:
        "202":
          description: Success
          schema:
            $ref: '#/definitions/postings-replace_all_response'
    x-restlet:
      section: POSTINGS
  /postings/custom_fields/names/:
    get:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Get a list of all defined custom fields/columns.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_custom_fields_name_response'
    post:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Create new custom field/column.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_custom_field'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Delete a custom column/field
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: field_name
        in: query
        description: column/field that you want deleted
        required: true
        type: string
      responses:
        "204":
          description: No Content
    patch:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Rename a custom field/column.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rename_custom_field'
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: POSTINGS/CUSTOM_FIELDS
  /postings/custom_fields/data/{posting_type}:
    get:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Get data for a custom field.
      parameters:
      - name: posting_id
        in: query
        description: the posting_ids associated with the data you want to get.
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        x-example: ?posting_id=22&posting_id=23&posting_id=24
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_custom_fields_data_response'
    post:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK add new data.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_custom_field_data'
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Delete data from a custom field.
      parameters:
      - name: field_name
        in: query
        description: the field_name associated with the data you want deleted.
        required: true
        type: string
      - name: posting_id
        in: query
        description: the posting_id associated with the data you want deleted.
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "204":
          description: No Content
    patch:
      tags:
      - postings/custom_fields
      summary: STAGE=UNK Update custom field data.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/create_custom_field_data'
      - name: posting_type
        in: path
        description: "Valid types are \"loads\", \"trucks\", \"private_loads\", \"private_trucks\", \"test_loads\", and \"test_trucks\""
        required: true
        type: string
        x-example: test_loads
        enum:
        - test_loads
        - test_trucks
        - private_loads
        - private_trucks
        - loads
        - trucks
      responses:
        "204":
          description: successful operation
    x-restlet:
      section: POSTINGS/CUSTOM_FIELDS
  /profiles:
    get:
      tags:
      - profiles
      summary: Request the logged in user's profile.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/profile_object'
    post:
      tags:
      - profiles
      summary: Create a new profile.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/profile_object'
      responses:
        "201":
          description: Object created
          headers:
            Location:
              type: string
              description: This will have a fully qualified API url you can call to get details of your profile.
              x-example: https://api.directfreight.com/v1/profiles/
    delete:
      tags:
      - profiles
      summary: STAGE=UNK Delete the profile.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: success operation
    patch:
      tags:
      - profiles
      summary: Update profile information.
      description: Please send in at least one field to be updated.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/profile_object_patch'
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/profile_object_patch'
    x-restlet:
      section: PROFILES
  /profiles/truck_info:
    get:
      tags:
      - profiles
      summary: Request the logged in user's truck info. STAGE=Private
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/truck_info_object'
    patch:
      tags:
      - profiles
      summary: Update truck information. STAGE=Private
      description: Please send in at least one field to be updated.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/truck_info_object'
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/truck_info_object'
    x-restlet:
      section: PROFILES
  /profiles/documents:
    get:
      tags:
      - profiles
      summary: STAGE=UNK Retrieve documents
      description: Retrieve documents
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: success
    post:
      tags:
      - profiles
      summary: STAGE=UNK Upload a new document.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/upload_document'
      responses:
        "201":
          description: Object created check the headers for a reference URL.
          schema:
            $ref: '#/definitions/create_status'
    delete:
      tags:
      - profiles
      summary: STAGE=UNK Delete the document.
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "204":
          description: success operation
    patch:
      tags:
      - profiles
      summary: STAGE=UNK Rename a document.
      consumes: []
      parameters:
      - name: end-user-token
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/rename_document'
      responses:
        "204":
          description: success
    x-restlet:
      section: PROFILES
  /validations/email_exists:
    get:
      tags:
      - validations
      summary: STAGE=UNK Check if an e-mail exists.
      description: Enter an e-mail to see if it is available. Can be used as ?email=xxx or as a JSON request.
      parameters:
      - name: email
        in: query
        required: true
        type: string
      - name: end-user-token
        in: header
        required: true
        type: string
      responses:
        "200":
          description: successful operation
          schema:
            $ref: '#/definitions/get_email_exists_response'
    x-restlet:
      section: VALIDATIONS
  /validations/trailers:
    get:
      tags:
      - validations
      summary: STAGE=PRIVATE-LIVE Find an official type to match to the customer submitted one.
      parameters:
      - name: customer_type
        in: query
        description: The custom type that the poster is trying to submit.
        required: true
        type: string
        x-example: FLAT53
      - name: partner
        in: query
        required: false
        type: string
        x-example: parade
      - name: end-user-token
        in: header
        description: "We assume only posters will be using this endpoint. We will use their end-user-token to match for a customer specific match first, and fall back to a general one if it doesn't exist."
        required: true
        type: string
      responses:
        "200":
          description: Status 200
          schema:
            $ref: '#/definitions/inline_response_200_7'
    x-restlet:
      section: VALIDATIONS
securityDefinitions:
  api-token:
    type: apiKey
    name: api-token
    in: header
definitions:
  alert_list:
    type: object
    properties:
      alerts:
        type: array
        items:
          $ref: '#/definitions/alert_response_item'
    description: "A hash containing a list of objects. Each entry should have 1 alert object, and 1 search object, and 2 integer counts. One for the number of new loads, and one for the number of total loads that match the search critera."
    example: |-
      {
        "alerts": [
          "{}",
          "{}"
        ]
      }
    x-restlet:
      section: ALERTS
  alert:
    type: object
    required:
    - days_of_week
    - end_hour
    - expires_after
    - list_type
    - minute_frequency
    - search
    - send_type
    - start_hour
    - time_zone
    properties:
      alert_id:
        type: integer
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation."
      days_of_week:
        type: array
        description: Limit the days that alerts are sent to the days listed.
        items:
          type: string
          enum:
          - Sun
          - Mon
          - Tue
          - Wed
          - Thu
          - Fri
          - Sat
      end_hour:
        type: integer
        description: A  corresponding to the hour of the day. (This field will accept 23 however there is a known logic issue for values over 21 with time zone set to 2)
        minimum: 3
        maximum: 23
      expires_after:
        type: string
        format: date time
        example: 2020-01-01 14:30:24
        description: The last day and time the alert will be valid. Valid time frames are from today until one year into the future.  This field will accept date only or a date and time.  If the date only is submitted the time will default to 23:59:59
      item_count:
        type: integer
        example: 25
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation."
        minimum: 1
        maximum: 100
      list_type:
        type: string
        description: "This specify the type of list that is returned, including disabling the list from being sent at all. Valid values are 'complete-list','only-new', 'only-new-free' and 'not-active'."
        enum:
        - complete-list
        - only-new
        - only-new-free
        - not-active
      minute_frequency:
        type: integer
        description: "How many minutes to wait before sending another alert. Valid values are '15','30','60','120','240','480', and '1440'."
      page_number:
        type: integer
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation."
        minimum: 1
      return_count:
        type: boolean
        description: "Allowed as a convenience to create consistency with a boards request, but is ignored during alert creation. "
      search:
        $ref: '#/definitions/alert_search'
      send_type:
        type: string
        description: What method to send the alert list.
        enum:
        - email
        - text
        - push
        - desktop
      start_hour:
        type: integer
        description: A  corresponding to the hour of the day.  (This field will accept 23 however there is a known logic issue for values over 21 with time zone set to 2)
        minimum: 3
        maximum: 23
      time_zone:
        type: integer
        description: "A number between -1 and 2. -1 = EST, 0 = CST, 1 = MST, 2 = PST"
        minimum: -1
        maximum: 2
    x-restlet:
      section: ALERTS
  alert_response_item:
    type: object
    required:
    - days_of_week
    - end_hour
    - expires_after
    - list_type
    - minute_frequency
    - search
    - send_type
    - start_hour
    - time_zone
    properties:
      alert_active:
        type: boolean
        description: Identifies whether an alert meets the criteria to send notifications by one of the notification methods.  Alert activation is  primarily controlled by the datetime field expires_after.  This field is a convenience method to eliminate the need to determine the users time zone and verify server time.
      alert_id:
        type: integer
        description: The ID of the alert
      days_of_week:
        type: array
        description: Limit the days that alerts are sent to the days listed.
        items:
          type: string
          enum:
          - Sun
          - Mon
          - Tue
          - Wed
          - Thu
          - Fri
          - Sat
      end_hour:
        type: integer
        description: A  corresponding to the hour of the day.
        minimum: 3
        maximum: 21
      expires_after:
        type: string
        format: date
        example: 2019-12-30
        description: The last day the alert will be valid. Valid time frames are from today until one year into the future.
      last_modified:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The last time this alert was modified.
      last_search:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The last time this alert was used in a boards request.
      last_sent:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The last time this alert was sent.
      list_type:
        type: string
        description: "This specify the type of list that is returned, including disabling the list from being sent at all. Valid values are 'complete-list','only-new', 'only-new-free' and 'not-active'."
        enum:
        - complete-list
        - only-new
        - only-new-free
        - not-active
      minute_frequency:
        type: integer
        description: "How many minutes to wait before sending another alert. Valid values are '15','30','60','120','240','480', and '1440'."
      previous_search:
        type: string
        format: datetime
        example: 2019-11-20 10:05:35
        description: The second to last time this alert was used in a boards request.
      search:
        $ref: '#/definitions/alert_response_item_search'
      send_type:
        type: string
        description: What method to send the alert list.
        enum:
        - email
        - text
        - push
        - desktop
      start_hour:
        type: integer
        description: A  corresponding to the hour of the day.
        minimum: 3
        maximum: 21
      time_zone:
        type: integer
        description: "A number between -1 and 2. -1 = EST, 0 = CST, 1 = MST, 2 = PST"
        minimum: -1
        maximum: 2
      user_id:
        type: integer
        description: The ID of the user
    x-restlet:
      section: ALERTS
  autocomplete_response:
    type: object
    required:
    - record_type
    - region_code
    - region_name
    properties:
      city:
        type: string
        description: The name of the city.  Only returned if record_type is city or postal
      postal_code:
        type: string
        description: The postal code of the city.  Only returned if match type is postal.
      record_type:
        type: string
        enum:
        - country
        - state
        - province
        - city
        - postal
      region_code:
        type: string
      region_name:
        type: string
    example: |-
      {
        "city": "city",
        "state_abbreviation": "{}",
        "state_name": "{}"
      }
    x-restlet:
      section: LOCATIONS
  board_request:
    type: object
    properties:
      alert_id:
        type: integer
        example: 1155
        description: "By specifying an alert_id we will record the loads or trucks seen by this user, and associate it with their alert.   See /alerts documentation for more information on setting up alerts."
        x-example: undefined
      company_name:
        type: string
        description: Search only for loads posted by this company. STAGE=Private
      destination_city:
        type: string
        example: chicago
        description: "If used, this field must be accompanied by a destination_state."
        minLength: 2
      destination_radius:
        type: integer
        example: 100
        description: "If both the destination city and state are specified, this field will limit the search to results to within # miles of the specified destination city.   If this field is omitted during a search that includes a destination city a default value of 30 miles will be used."
        minimum: 1
        maximum: 300
      destination_state:
        type: array
        example:
        - IL
        - HI
        - NY
        - KS
        - TX
        - MO
        - AL
        description: "If the destination_city field is is used, this field should contain the state for that city.  For searches without a specified destination_city this field may contain an array list of state abbreviations."
        items:
          type: string
          minLength: 2
          maxLength: 2
      full_load:
        type: boolean
        example: true
        description: This is only valid when requesting a loads board. Omitting this field will return both full and partial loads. A true value will limit results to full loads only.  False will return partial loads only.
      item_count:
        type: integer
        example: 25
        description: This argument adjusts how many items per page will be returned.  Omitting this field will return the default of 50 items per page
        minimum: 1
        maximum: 100
      md5:
        type: string
        example: 850FBE52A5345119FD9C79FDE4E27308
        description: Return only this specific MD5 ID. STAGE=Private
      origin_city:
        type: string
        example: Kansas City
        description: "If used, this field must be accompanied by an origin_state."
        minLength: 2
      origin_radius:
        type: integer
        example: 150
        description: "If both the origin city and state are specified, this field will limit the search to results to within # miles of the specified origin city. If this field is omitted during a search that includes an origin city a default value of 25 miles will be used."
        minimum: 1
        maximum: 300
      origin_state:
        type: array
        example:
        - MO
        - IL
        - TX
        - CA
        description: "If the origin_city field is is used, this field should contain the state for that city. For searches without a specified origin_city this field may contain an array list of state abbreviations."
        items:
          type: string
          minLength: 2
          maxLength: 2
      min_weight:
        type: integer
        example: 1000
        description: Return items that weight at least this much.
      max_weight:
        type: integer
        example: 40000
        description: Return items that weight less than this.
      min_length:
        type: integer
        example: 15
        description: Return items at least this long.
      max_length:
        type: integer
        example: 300
        description: Return items no longer than this.
      min_pay_rate:
        type: integer
        example: 50
        description: Return items that pay at least this amount.
      max_pay_rate:
        type: integer
        example: 300
        description: Return items that pay at most this amount.
      min_age:
        type: integer
        example: 50
        description: Return items that are at least this many minutes old.
      max_age:
        type: integer
        example: 300
        description: Return items that are at most this many minutes old.
      page_number:
        type: integer
        description: The page you want to return. Will return an empty board on an invalid page.
        minimum: 1
      return_count:
        type: boolean
        description: If included this will return a total count instead of a list.
      return_web_url:
        type: boolean
        description: If included this will return a "search_url" property that has a URL that can be used to perform this same search on the DirectFreight Website.
      partner:
        type: string
        description: Used to customize API response for integration partners. This field should only be used in coordination with developers at Direct Freight Services
      return_only:
        type: string
        description: |-
          STAGE=PRIVATE  This field is an additional filter that limits the boards response for attributes that are not defined by the load record. Currently the following attributes are valid for this field.

          unviewed-loads that have not been viewed by the user (Loads will continue to be returned by boards as unviewed until a GET is requested from the alerts endpoint.  Requesting the alerts resets the timestamp for determining when a load is new to the time of the last search).

          unsent-Loads that have not been sent to or viewed by a user.

          newtag- Loads that are given a new tag.  The new tag is only given to loads that are new since the previous search if the 2 searches are both done in the same day.
        enum:
        - unviewed
        - unsent
        - newtag
      google_recaptcha_score:
        type: number
        description: "STAGE=PRIVATE Google ReCAPTCHA score, for logging purposes. This field is optional. Should be a decimal number between 0 and 1."
      tier:
        type: string
        description: "This field is an optional filter that limits board response to 'free' or 'premium' loads. If this field is not specified it defaults to 'all' loads.\nfree loads - are loads that are more than 2 hours old. contact information and comments are visible even if this request comes from an unsubscribed account.\npremium loads - loads that are less than 2 hours old. contact information and comments are only visible for premium accounts.   "
        enum:
        - all
        - free
        - premium
      ship_date:
        type: array
        description: Limits results to specified ship date(s).
        items:
          type: string
          format: date
          description: Please use the YYYY-MM-DD format.
      sort_parameter:
        type: string
        example: age
        description: The system automatically chooses the most common order based on the parameter chosen.  Sort order can be specified by using the "sort_direction" parameter.
        enum:
        - origin_city
        - origin_state
        - destination_city
        - destination_state
        - trailer_type
        - load_size
        - pay_rate
        - rate_per_mile_est
        - credit_score
        - age
        - trip_miles
        - dead_head
        - length
        - weight
        - company_name
        - ship_date
        - receive_date
        - tia_user
        - green_light
        - new
        - book_now
        default: age
      sort_direction:
        type: string
        example: asc
        description: The system automatically chooses the most common order based on the parameter chosen. Use this option if you want a specific sort direction.
        enum:
        - asc
        - desc
        default: asc
      trailer_type:
        type: array
        example:
        - F
        - F+T
        - F+S
        - V
        description: 'A string array of valid trailer types to limit the search. '
        items:
          type: string
          enum:
          - V
          - VINT
          - SD
          - MX
          - HS
          - AC
          - LB
          - F+T
          - F
          - FINT
          - DD
          - V+V
          - V+A
          - CRG
          - HB
          - LA
          - PO
          - R
          - RINT
          - RGN
          - CV
          - DT
          - TNK
          - F+S
          - PNEU
          - CONT
          - OTHER
    example:
      destination_city: chicago
      destination_radius: 300
      destination_state:
      - IL
      full_load: true
      origin_city: Kansas City
      origin_radius: 300
      origin_state:
      - MO
      page_number: 1
      ship_date:
      - 2020-05-06
      sort_parameter: age
      sort_direction: asc
      trailer_type:
      - V
      - R
      min_weight: 1000
      max_weight: 40000
      min_length: 15
      max_length: 300
      min_pay_rate: 50
      max_pay_rate: 200
      min_age: 50
      max_age: 2000
      google_recaptcha_score: 0.7
    x-restlet:
      section: BOARDS
  board_response_item:
    type: object
    required:
    - age
    - credit_score
    - dead_head
    - destination_city
    - destination_state
    - entry_id
    - full_load
    - green_light
    - height
    - length
    - origin_city
    - origin_state
    - pay_rate
    - receive_date
    - ship_date
    - trailer_type
    - trip_miles
    - weight
    - width
    properties:
      age:
        type: integer
        example: 15
        description: Time in minutes since load/truck was first posted. NULL is returned for values less than 1 minute.
      comment:
        type: string
        example: Test Load
        description: This field is only returned for an end_user_token that has the subscribed access level.
      carrier_onboard_url:
        type: string
        example: www.google.com
        description: URL for onboarding specified by carrier.
      company_name:
        type: string
        example: ABC Company
        description: This field is only returned for an end_user_token that has the subscribed access level.
      credit_report_key:
        type: string
        description: |-
          This field is only returned for an end_user_token that has the subscribed access level.

          To access the credit report associated with the company for this item, use the key returned with the following url. https://www.directfreight.com/home/credit_report?refid=$credit_report_key
      credit_score:
        type: integer
        example: 99
        description: The credit score for the company associated with this item.
      dead_head:
        type: integer
        example: 87
        description: "Distance between request body origin_city, and response item origin_city. This field will be null if no origin_city is specified in the request body or if distance cannot be calculated."
      destination_city:
        type: string
        description: This field may be returned as null.
        minLength: 2
      destination_state:
        type: string
        example: MO
        description: This field may be returned as null.
      entry_id:
        type: string
        example: "55555555"
        description: unique identifier for this item.
      full_load:
        type: boolean
        example: true
        description: Specifies whether load is full or partial.  Will always return true for trucks.
      green_light:
        type: boolean
        example: true
        description: Indicates whether broker/shipper for item is pre-approved for Rivera Finance factoring program.
      height:
        type: integer
        description: Height in inches.  Will be null if empty.
      length:
        type: number
        description: Length in feet.  Will be null if empty.
      origin_city:
        type: string
        example: Chicago
        description: Origin city of item.
        minLength: 2
      origin_state:
        type: string
        example: IL
        description: Origin state of item
      pay_rate:
        type: number
        description: Will be null if empty.
      phone_extension:
        type: integer
        example: 123
        description: This field is only returned for an end_user_token that has the subscribed access level.   Will return null if empty.
      phone_number:
        type: integer
        example: 555-555-5555
        description: This field is only returned for an end_user_token that has the subscribed access level.
      rate_per_mile_est:
        type: number
        example: 1.5
        description: Rate per mile estimate
      receive_date:
        type: string
        format: date
        example: 2018-09-24
      ship_date:
        type: string
        format: date
        example: 2018-09-20
        description: The date the load is scheduled to be picked up.  For trucks this is the date the truck is available.
      tags:
        type: array
        example: new
        description: Indicates special characteristics of a load record.  This field may be returned as a blank array.  Currently (new) is the only value that will be returned.
        items:
          type: string
      trade_orgs:
        $ref: '#/definitions/board_response_item_trade_orgs'
      trailer_type:
        type: array
        example: V
        description: A string array of valid trailer types.
        items:
          type: string
      trip_miles:
        type: integer
        example: 523
        description: Distance between origin and destination.  This field will be null if distance cannot be calculated.
      user_hid:
        type: boolean
        example: false
        description: This field is only returned for an end_user_token that has the subscribed or posting access level. The value when true represents that the user wishes the entry hidden. Refer to boards/hidden_entries/ documentation for more information on how to set and update this value.
      weight:
        type: integer
        description: Weight in pounds.  Will be null if empty.
      width:
        type: integer
        description: Width in inches.  Will be null if empty.
    example: test
    x-restlet:
      section: BOARDS
  boards_profit_response:
    type: object
    properties:
      executive_summary:
        type: string
        description: Executive summary of trip profitability.
      load_info:
        $ref: '#/definitions/boards_profit_response_load_info'
      truck_info:
        $ref: '#/definitions/boards_profit_response_truck_info'
      route_info:
        $ref: '#/definitions/boards_profit_response_route_info'
    example:
      executive_summary: "Based on all of the information we have about your truck and this load we believe this load would have a net profit of $-736.27 after you paid the driver(yourself) and all of the expenses. Fuel costs vary across your route you might consider buying fuel in MO, where fuel costs are $0.458 lower than the average fuel price along this route. "
      load_info:
        destination_city: New York
        destination_state: NY
        driver_cost: 2011.68
        fuel_cost: 7275.58
        fuel_used: "429.85"
        fuel_per_gallon: "2.55"
        ins_permits: 363.22
        other_trip_costs_total: 555.22
        maint_cost: 474.98
        origin_city: San Diego
        origin_state: CA
        pay_rate: "6000"
        rate_per_mile_est: 2.15
        toll_cost: 1.0
        gross_profit: -6892.52
        net_profit: -4482.25
        total_trip_cost: 12892.52
        trip_miles: 2794
        truck_ownership: 2766.06
      route_info:
        avg_fuel_price_trip: 2.604
        fuel_by_state:
        - avg_fuel_price: 2.625
          miles: 544
          state: AZ
        - avg_fuel_price: 3.218
          miles: 166
          state: CA
        - avg_fuel_price: 2.452
          miles: 465
          state: CO
        - avg_fuel_price: 2.454
          miles: 155
          state: IL
        - avg_fuel_price: 2.558
          miles: 156
          state: IN
        - avg_fuel_price: 2.351
          miles: 479
          state: KS
        - avg_fuel_price: 2.146
          miles: 247
          state: MO
        - avg_fuel_price: 2.725
          miles: 70
          state: NJ
        - avg_fuel_price: 2.809
          miles: 4
          state: NY
        - avg_fuel_price: 2.531
          miles: 225
          state: OH
        - avg_fuel_price: 2.831
          miles: 336
          state: PA
        - avg_fuel_price: 2.544
          miles: 14
          state: WV
      truck_info:
        miles_per_gal: 6.5
        maint_per_mile: 0.17
        driver_per_mile: 0.72
        truck_ownership_per_mile: 0.27
        ins_permits_per_mile: 0.13
        fuel_capacity: 200.0
        deadhead_per_mile: 1.29
    x-restlet:
      section: BOARDS
  boards_freight_rate_response:
    type: object
    properties:
      TRAILER_TYPE:
        $ref: '#/definitions/boards_freight_rate_response_TRAILER_TYPE'
    x-restlet:
      section: BOARDS
  board_response:
    type: object
    required:
    - list
    properties:
      list:
        type: array
        description: A list of entries for this board.
        items:
          $ref: '#/definitions/board_response_item'
      page_number:
        type: integer
        description: The page you are on.
      total_items:
        type: integer
        description: A count of all the entry objects for the specified search.
      total_pages:
        type: integer
        description: "A count of the # of pages based on the search parameters."
      total_unviewed_plus_viewed:
        type: integer
        description: STAGE=PRIVATE  This is the total number of loads that would be returned by this boards request if the boards request ignored the return_only "unviewed" attribute. The return_only field is an advanced field that allows for additional filter options.  Please contact Direct Freight for more information on gaining access to this field
      search_url:
        type: string
        description: URL that can be used to perform this same search on the DirectFreight Website. Will only be returned if return_web_url is requested.
    example: |-
      {
        "list": "{}",
        "page_number": "{}",
        "total_items": "{}",
        "total_pages": 0,
        "total_new": 0,
        "search_url": "https://www.directfreight.com/..."
      }
    x-restlet:
      section: BOARDS
  single_load_response:
    properties:
      item:
        $ref: '#/definitions/board_response_item'
      booking_info:
        $ref: '#/definitions/single_load_response_booking_info'
      message:
        type: string
        description: Status message.
      status:
        type: string
        description: OK or Error.
      success:
        type: boolean
        description: true/false if request was successful.
  create_notes:
    type: object
    required:
    - body
    - entry_id
    - title
    properties:
      body:
        type: string
      entry_id:
        type: string
        description: 'The entry to associate the note with. '
      title:
        type: string
        description: 'Subject of the note. '
    x-restlet:
      section: BOARDS
  book_partner_load:
    type: object
    required:
    - entry_id
    - offer_reference_code
    properties:
      entry_id:
        type: string
        description: 'MD5 Identifier of load. '
      offer_reference_code:
        type: string
        description: "Offer reference code as returned by /boads/loads?entry_id=[ENTRY-ID]&booking_action=request_booking. "
    x-restlet:
      section: BOARDS
  quote_partner_load:
    type: object
    required:
    - company_external_key
    - entry_id
    - quote_amount
    - reference_id
    properties:
      entry_id:
        type: string
        description: MD5 Identifier of load.
      reference_id:
        type: string
        description: "Load reference ID as returned by /boads/loads?entry_id=[ENTRY-ID]&booking_action=request_booking."
      company_external_key:
        type: string
        description: "Company External Key as returned by /boads/loads?entry_id=[ENTRY-ID]&booking_action=request_booking."
      quote_amount:
        type: number
        description: Amount offered for transporting this load.
    x-restlet:
      section: BOARDS
  create_custom_field:
    type: object
    required:
    - name
    properties:
      name:
        type: string
        description: Custom field name.
  alert_search_response:
    type: object
    properties:
      alert_id:
        type: integer
        description: Alert ID.
  create_custom_field_data:
    type: object
    required:
    - field_name
    - posting_id
    - value
    properties:
      field_name:
        type: string
        description: Custom field name.
      posting_id:
        type: integer
        description: Posting ID.
      value:
        type: string
        description: Value.
  create_status:
    type: object
    properties:
      success:
        type: integer
    x-restlet:
      section: common_definitions
  create_status_alert:
    type: object
    properties:
      alert_id:
        type: integer
    x-restlet:
      section: common_definitions
  end-user-token:
    type: object
    properties:
      end-user-token:
        type: string
        example: XX423ASOEUHT4AESUTH
        description: On success an end-user-token is returned.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  social-login-end-user-token:
    type: object
    properties:
      end-user-token:
        type: string
        example: XX423ASOEUHT4AESUTH
        description: On success and end-user-token is returned.
      email:
        type: string
        example: example@directfreight.com
        description: The email address that was used to login.
      new_account:
        type: boolean
        example: false
        description: Indicates if a new account was created or an existing one was used to login.
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  error_object:
    type: object
    required:
    - code
    - description
    - error
    properties:
      code:
        type: integer
      description:
        type: array
        items:
          type: string
      error:
        type: string
    example: |-
      {
        "code": 1,
        "error": "Generic Validation",
        "description": [ "The e-mail address must be valid." ]
      }
    x-restlet:
      section: common_definitions
  get_boards_notes_response:
    type: object
    required:
    - list
    properties:
      list:
        type: array
        description: A list of requested notes
        items:
          $ref: '#/definitions/notes_response_item'
    x-restlet:
      section: BOARDS
  get_custom_fields_name_response:
    type: object
    properties:
      lists:
        type: array
        description: "A list of each custom field, type and it's corresponding position."
        items:
          type: string
    example: |-
      {
        "list": [
          "field1",
          "field2"
        ]
      }
    x-restlet:
      section: not categorized yet
  get_custom_fields_data_response:
    type: object
    properties:
      lists:
        type: array
        description: "A list of each custom field, type and it's corresponding position."
        items:
          type: string
    example: |-
      {
        "load_id": [
          "field1" : "data1",
          "field2" : "data2"
        ]
      }
    x-restlet:
      section: not categorized yet
  get_email_exists_response:
    type: object
    properties:
      exists:
        type: boolean
        description: Returns a true value if it is associated with an account.
    example: |-
      {
        "exists": true
      }
    x-restlet:
      section: not categorized yet
  get_hidden_companies_response:
    type: object
    properties:
      company_name:
        type: array
        description: A subset of companies that need to be marked as hidden.
        items:
          type: string
    example: |-
      {
        "company_name": [
          "company_name",
          "company_name"
        ]
      }
    x-restlet:
      section: not categorized yet
  get_hidden_entries:
    type: object
    properties:
      entry_id:
        type: array
        description: A subset of entries that need to be marked as hidden.
        items:
          type: string
    example:
      entry_id:
      - entry_id
      - entry_id
    x-restlet:
      section: not categorized yet
  get_state_list_response:
    type: object
    properties:
      list:
        type: object
        example: "{ \"AZ\": { \"inbound\": 10, \"outbound\": 5, \"outbound_percentage\": 50 }"
        description: A hash of state totals.
        properties: {}
    example: "{\n  \"list\": { \n    \"AZ\": { \n      \"inbound\": 10, \n      \"outbound\": 5, \n      \"outbound_percentage\": 50 \n      \n    } \n  }\n}"
    x-restlet:
      section: BOARDS
  hidden_entry_object:
    type: object
    required:
    - entry_id
    properties:
      entry_id:
        type: array
        description: The entry(s) that need to be marked as hidden.
        items:
          type: string
    x-restlet:
      section: BOARDS
  login_credentials:
    type: object
    required:
    - login
    - realm
    - secret
    properties:
      login:
        type: string
        description: "The e-mail, or username information needed to log in. "
      realm:
        type: string
        description: "This specifies who to log in with. If left blank we will assume email/password. Valid realms are username, email, facebook(not implemneted), google(not implemented), and linkedin(not implemented). "
        enum:
        - username
        - email
      secret:
        type: string
        description: "The password, or token required for this login. "
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  social_login_credentials:
    type: object
    required:
    - service
    - token
    properties:
      token:
        type: string
        description: " The token returned by the social login service. For Google the value expected is : data.code For Facebook the value expected is : data.authResponse.accessToken For Apple the value expected is : data.detail.authorization.id_token"
      service:
        type: string
        description: "Takes a social login service name,"
        enum:
        - google
        - facebook
        - facebook-code
        - apple
      create_missing_account:
        type: boolean
        description: If true the endpoint will create the users account in case it doesnt already exist.
        default: false
    x-restlet:
      section: END_USER_AUTHENTICATIONS
  mark_hidden_companies:
    type: object
    required:
    - company_name
    properties:
      company_name:
        type: string
        description: The company that need to be marked as hidden.
    x-restlet:
      section: not categorized yet
  note_create_status:
    type: object
    required:
    - note_id
    properties:
      note_id:
        type: integer
        description: Id of the note.
      success:
        type: integer
    x-restlet:
      section: common_definitions
  notes_response_item:
    type: object
    required:
    - body
    - date_added
    - date_modified
    - deleted
    - entry_id
    - id
    - important
    - title
    properties:
      body:
        type: string
        example: This is a test note.
        description: Body of the note
      date_added:
        type: string
        format: date
        example: 2019-08-23
        description: The date the note was created.
      date_modified:
        type: string
        format: date
        example: 2019-08-24
        description: Date of the last update to this note
      deleted:
        type: string
        description: Not sure what this field is?  Is this the date the note was deleted or the status of the load?
      entry_id:
        type: string
        example: 93b30df654ccd860eb34775214877921
        description: Entry id of the load associated with this note.
      id:
        type: integer
        example: 55551
        description: The id of the note.
      important:
        type: boolean
        example: true
        description: Identifies notes marked as important.
      title:
        type: string
        example: MO
        description: Title of note.
    example: test
    x-restlet:
      section: BOARDS
  patch_alert_properties:
    type: object
    required:
    - alert_id
    properties:
      alert_id:
        type: integer
        description: Specify which alert you are updating.
      days_of_week:
        type: array
        description: Limit the days that alerts are sent to the days listed.
        items:
          type: string
          enum:
          - Sun
          - Mon
          - Tue
          - Wed
          - Thu
          - Fri
          - Sat
      end_hour:
        type: integer
        description: A value corresponding to the hour of the day.
        minimum: 3
        maximum: 21
      expires_after:
        type: string
        format: date
        description: The last day the alert will be valid. Valid time frames are from today until one year into the future. Cannot be changed if alert is inactive.
      list_type:
        type: string
        description: "This specify the type of list that is returned, including disabling the list from being sent at all."
        enum:
        - complete-list
        - only-new
        - only-new-free
        - not-active
      minute_frequency:
        type: integer
        description: How many minutes to wait before sending another alert.
      send_type:
        type: string
        description: What method to send the alert list.
        enum:
        - email
        - text
        - push
        - desktop
      start_hour:
        type: integer
        description: A value corresponding to the hour of the day.
        minimum: 3
        maximum: 21
      time_zone:
        type: integer
        description: "A number between -1 and 2. -1 = EST, 0 = CST, 1 = MST, 2 = PST"
        minimum: -1
        maximum: 2
    x-restlet:
      section: ALERTS
  post_posting_type_action_body:
    type: object
    required:
    - source_posting
    properties:
      source_id:
        type: object
        description: The posting id of the posting you are moving or copying. Optional for create.
        properties: {}
      source_posting:
        type: string
        description: Where the items are coming from. Loads can not be moved or copied to trucks and trucks can not be moved or copied to loads.
        enum:
        - loads
        - trucks
        - private_loads
        - private_trucks
        - test_loads
        - test_trucks
      new_load_custom_id:
        type: string
        description: "Optionally specify the custom_id that should be assigned to the new load. This is required for the copy command, for the move command it will be auto-generated if one is not specified."
    x-restlet:
      section: not categorized yet
  posting_post_response:
    type: object
    properties:
      list:
        type: array
        description: A list of posting objects you can iterate over.
        items:
          $ref: '#/definitions/postings_post_response_item'
    example: |-
      {
        "list": [
          .....
        ]
      }
    x-restlet:
      section: POSTINGS
  postings_entry_object:
    type: object
    required:
    - custom_id
    - origin_city
    - origin_state
    - ship_date
    - trailer_type
    properties:
      comment:
        type: string
      custom_id:
        type: string
        description: An identifier that can be provided for your own records.  (i.e.-Company load number) This field can be used to retrieve loads via GET.  This value must be unique. Custom Id's can have a maximum of 25 characters.
      destination_city:
        type: string
        description: Delivery location city of load/truck. For truck type entries this field is optional or can be used to specify a region.
      destination_state:
        type: string
        description: Delivery location state of load/truck. For truck type entries this field is optional.
      full_load:
        type: boolean
        description: The load will be assumed to be full if this argument isn't included and marked to true.
      height:
        type: integer
        description: This number represents inches.
      length:
        type: number
        description: This number represents feet.
      origin_city:
        type: string
        description: Origin city location of load or truck.  Required for all entry types.
      origin_state:
        type: string
        description: Origin state location of load or truck.  Use the 2 digit state abbreviation.
        minLength: 2
        maxLength: 2
      other_trailer_types:
        type: string
        description: Can be used to specify custom trailer types.
      pay_rate:
        type: number
        description: "This field will accept either the per mile rate, or gross rate."
      phone_extension:
        type: integer
        description: If not provided we will use the contact info associated with the users profile.
      phone_number:
        type: integer
        description: If not provided we will use the contact info associated with the users profile.
      receive_date:
        type: string
        format: date
        description: The date the load/truck should deliver.
      ship_date:
        type: string
        format: date
        description: When posting loads this is the date the load should be picked up.  When posting trucks this is the date the truck is available to be loaded.
      trailer_type:
        type: array
        description: This can have 1 or more standard trailer types.
        items:
          type: string
          enum:
          - V
          - VINT
          - SD
          - MX
          - HS
          - AC
          - LB
          - F+T
          - F
          - FINT
          - DD
          - V+V
          - V+A
          - CRG
          - HB
          - LA
          - PO
          - R
          - RINT
          - RGN
          - CV
          - DT
          - TNK
          - F+S
          - PNEU
          - CONT
          - OTHER
      weight:
        type: integer
        description: This number represents pounds.
      width:
        type: integer
        description: This number represents inches.
      category:
        type: string
        description: "This option only applies to \"private_loads\", \"private_trucks\""
      load_detail_url:
        type: string
        description: An optional URL with additional information about this load.
      booking_partner:
        type: string
        description: Booking partner.
      allowed_actions:
        type: string
        description: "What actions are available for this load, defaults to \"call\"."
      dispatch_email:
        type: string
        description: Dispatch e-Mail.
      dispatch_mobile_number:
        type: string
        description: Dispatch mobile number.
    example:
      comment: hello world
      custom_id: abc123
      destination_city: San Francisco
      destination_state: CA
      full_load: true
      height: 22
      length: 22
      origin_city: seattle
      origin_state: WA
      other_trailer_types: Lowboy
      pay_rate: 0.22
      phone_extension: 666
      phone_number: 7777777777
      receive_date: 2020-05-06
      ship_date: 2020-05-06
      trailer_type:
      - R
      weight: 2200
      width: 22
      load_detail_url: https://www.directfreight.com
      booking_partner: '...'
      allowed_actions: send_quote
      dispatch_email: dispatch@directfreight.com
      dispatch_mobile_number: 7777777777
    x-restlet:
      section: POSTINGS
  postings_patch_object:
    type: object
    properties:
      comment:
        type: string
      custom_id:
        type: string
        description: |-
[...]
